[2018-03-29 01:29] schwannden commented on #644
This is a known issue in the 2.2.10 release: https://0xdata.atlassian.net/browse/SW-776
I am using sparkling water 2.2.9 and it works fine though

[2018-03-29 03:11] thomashan commented on #644
@schwannden You're right. I'll close this issue since it's resolved in 2.2.11.

[2018-03-29 03:11] #644 closed

[2018-03-29 06:51] jakubhava commented on #644
In the meanwhile, you can use 2.2.10, but the binary distribution downloadable from our page instead of the maven packages.

[2018-04-02 03:19] Dipanjan17 opened #649 "problem in starting h2o.init()"
to be noted
1: My java/JDK is up to date, and also path is set in the environment variable
2: Latest Version of R installed i.e 3.4.4 and h2o is also currently
how do I solve this problem?

H2O is not running yet, starting it now...

Note:  In case of errors look at the following log files:
    C:\Users\DIPANJ~1\AppData\Local\Temp\RtmpANqzPw/h2o_Dipanjan_Chowdhury_started_from_r.out
    C:\Users\D

[2018-04-02 03:20] Dipanjan17 commented on #649
How do I remove the Unknown Argument

[2018-04-03 05:06] Tagar opened #650 "Relation between `spark.ext.h2o.hadoop.memory` and `mapperXmx`"
If I launch a SW backend cluster with `-mapperXmx` parameter set to let's say `21G`,
then what `spark.ext.h2o.hadoop.memory` should be recommended to be set to? (it defaults to 6G according to [documentation  ](http://docs.h2o.ai/sparkling-water/2.3/latest-stable/doc/configuration/configuration_properties.html#external-backend-configuration-properties)) .

I guess I don't understand how `spark.ext

[2018-04-03 05:46] Tagar opened #651 "SW backend mode broken in 2.2.11? java.lang.NoSuchMethodError: ml.dmlc.xgboost4j.java.NativeLibLoader.getLoader()Lml/dmlc/xgboost4j/java/INativeLibLoader"
Trying to connect to a 2.2.11 backend cluster (extended jar ) leads to
`java.lang.NoSuchMethodError: ml.dmlc.xgboost4j.java.NativeLibLoader.getLoader()Lml/dmlc/xgboost4j/java/INativeLibLoader`

Full exception stack

[2018-04-03 06:14] Tagar commented on #651
I realized there was `h2o-genmodel.jar` passed as `--jars` to spark-submit that caused this.

[2018-04-04 10:44] jakubhava commented on #650
`spark.ext.h2o.hadoop.memory` is wrapper for `-mapperXmx`. In Sparkling Water, external backend, auto mode we start the external cluster automatically and whatever is set to `spark.ext.h2o.hadoop.memory` is passed later to `-mapperXmx`

[2018-04-04 10:44] #650 closed

[2018-04-04 10:46] jakubhava commented on #649
Hi @Dipanjan17 , can you share full reproducible code?

Also are you using Sparkling Water or just H2O, what are the versions?

[2018-04-04 20:03] Tagar commented on #650
Thanks @jakubhava

[2018-04-04 20:12] Tagar opened #654 "PySpark equivalent for genmodel.easy.EasyPredictModelWrapper ?"
We were trying to score records using mojo (`genmodel.easy.EasyPredictModelWrapper` ) -- see the code prototype on https://github.com/Tagar/ML/blob/master/mojo_pyspark_scorer.py

The idea was to use `map()` or `mapPartitions()` in Spark and call `genmodel.easy.EasyPredictModelWrapper` through py4j, but ran into issues described in [SPARK-23842](https://issues.apache.org/jira/browse/SPARK-23842).

[2018-04-04 21:03] aadu opened #655 "add flow context_path to configuration options"
Sorry if this is already exposed, but couldn't find it anywhere.

[2018-04-05 06:42] jakubhava commented on #655
Hi @aadu,
 thanks for the report! It's not exposed at this moment, I will work on this change.

Thanks!

Kuba

[2018-04-09 11:39] ngallot opened #657 "Add Pipeline support for GLM algorithm"
Hi,
Currently, only GBM algorithms can implement Spark pipelines. I'm working on a use case where it would be nice to have pipeline support for GLM as well. I guess this could be done by creating an H2OGLM, similar to H2OGBM. What do you guys think?

[2018-04-09 12:13] jakubhava commented on #657
Ho @ngallot , exactly. At this stage it's just technical task. If you would like to contribute, it would be great :) Otherwise I can't guarantee any estimate when this can be done

[2018-04-09 12:40] ngallot commented on #657
Thanks for your answer @jakubhava, ok I'll start working on this soon!

[2018-04-09 12:42] jakubhava commented on #657
Amazing, this would be great help! I would start with implementing the Scala part. You can inspire yourself at H2OGBM as you already mention :)

[2018-04-09 13:00] jakubhava commented on #649
Hi @Dipanjan17 I will go ahead and close this issue as there is no response. If you wold like to continue, please help us with sharing the info above and feel free to reopen the issue

[2018-04-09 13:00] #649 closed

[2018-04-09 13:01] jakubhava commented on #623
Hi @naveenreddy2811, I'm going to close this issue. Feel free to re-open it if you can share the info above. Thanks! Kuba

[2018-04-09 13:01] #623 closed

[2018-04-09 13:31] jakubhava commented on #655
Hi @aadu, the change is implemented in this PR and should go to master soon https://github.com/h2oai/sparkling-water/pull/658

[2018-04-10 06:10] jakubhava commented on #655
@aadu merged to master, will be in the next release

[2018-04-10 06:10] #655 closed

[2018-04-10 17:04] Tagar commented on #651
It seems we would still need to add `h2o-genmodel.jar` into classpath to do scoring in Spark directly..
So reopening this now.
Would it be possible to have `h2o-genmodel.jar` in classpath and still use Sparkling Water?

[2018-04-10 17:07] Tagar commented on #654
cc @mmalohlava @jakubhava @michalkurka can you please let me know if it's possible?

We were also trying to call java scoring through py4j in Spark executors but ran into issues described here https://github.com/bartdag/py4j/issues/311

[2018-04-12 07:11] jakubhava commented on #657
Hi @ngallot, I was discussing the future development of exposed algos such as GLM, GBM in Sparkling Water. We think that we could actually generate automatically most of the code for these algos for Sparkling Water.

I think it would be better write code generator for these algos instead of writing GLM by hand. What do you think, would this be something you would like to work on?

[2018-04-17 02:04] Tagar opened #671 "[SW-802] Ship Sparkling Water with Spark-friendly h2o-genmodel.jar"
https://0xdata.atlassian.net/browse/SW-802

Please consider adding `h2o-genmodel.jar` along with Sparkling Water releases.

Current `h2o-genmodel.jar` has a number of library version conflicts with Spark.

We'd like to score mojo through Spark executors.

We can't use other methods to score (like SW frame scoring) because how much data we have. For example, one of the dataframes we would like to s

[2018-04-17 02:14] NidhiMehta commented on #671
For such support requests we would suggest to kindly consider becoming H2O enterprise customer.
Thanks.

[2018-04-17 06:34] jakubhava commented on #671
@Tagar Mojo predictions are already also supported in parallel manner on each Spark executor. Please see H2OMojoModel class in Scala and equivalent in Python.

[2018-04-18 16:28] alzuabi opened #675 "Getting Error While establishing H2O cluster"
I have been trying to run Spark 2.2.0 with Sparkling water 2.2.5, in HDP 2.6.4 but getting following exception when I run below code :

`import org.apache.spark.h2o._
val conf = new H2OConf(spark).setExternalClusterMode().useAutoClusterStart().setH2ODriverPath("/home/bduser/sparkling-water-2.2.5/h2odriver-sw2.2.5-hdp2.6-extended.jar").setNumOfExternalH2ONodes(3).setCloudName("test").setMapperXmx("

[2018-04-18 16:37] Tagar commented on #671
thanks @jakubhava - I tried to explain above why we can't use that API call - this would require putting whole dataset to score in memory and this OOMs on us because of the amount of data we have or some other unrelated h2o issues on memory management. That's why we wanted to use `h2o-genmodel` methods directly, - read from our sparse propriatory format and score record by record but with high par

[2018-04-19 17:29] jakubhava commented on #675
Please add this call to your H2OConf `setReplDisabled()` and let me know if that helped

[2018-04-19 17:31] jakubhava commented on #484
@axiomoixa I'm just checking, did you please try @michalkurka proposal in the last relevant comment?

[2018-04-21 06:24] alzuabi commented on #675
Many thanks @jakubhava,  it works.

[2018-04-25 08:02] ningbogao opened #686 "this script that "libsw.cmd " has lost a " in the line if not exist "%FAT_JAR_FILE% of commonds"
this script that "libsw.cmd " has lost a "  in the line  if not exist "%FAT_JAR_FILE%  of commonds

[2018-04-25 08:03] jakubhava commented on #686
The PR for this is already merged, thanks

[2018-04-25 08:03] #686 closed

[2018-05-08 04:11] hangelwen opened #700 "Use SharedH2OTestContext in tests"
It would be pretty useful if Sparking-Water client code can use `SharedH2OTestContext` and other test related utils. Is there a way to do this now?

[2018-05-11 20:42] ai-monkey opened #705 "pySparkling build fail"
$ git clone http://github.com/h2oai/sparkling-water
$ cd sparkling-water
$ sudo ./gradlew build -x check

FAILURE: Build failed with an exception.

* Where:
Build file '/home/omega/Downloads/sparkling-water/py/build.gradle' line: 69

* What went wrong:
A problem occurred evaluating project ':sparkling-water-py'.

     Required by:
         project :sparkling-water-py

* Try:
Run with --stacktrace

[2018-05-11 22:11] dshurick commented on #705
I've gotten the same issue.

[2018-05-14 16:46] jakubhava commented on #705
Hi @ai-monkey @dshurick thanks, this is a known thing. Currently, building Sparkling Water requires internal artifacts which are not yet published. We are working on making sure Sparkling Water can be build by anybody in the future again.

Thanks!

Kuba

[2018-05-14 16:46] jakubhava commented on #700
Hi @hangelwen, can you please elaborate a little bit more what do you mean by this proposal?

[2018-05-14 17:00] hangelwen commented on #700
Sure @jakubhava .

`SharedH2OTestContext` is a utility class in the `test` environment that sets up a H2O cluster for unit tests. Since it's in test, I think it can not be accessed by H2O lib users. But it would be pretty useful for H2O lib users to write unit test since this automatically set up a H2O Context for tests.  Then if one needs to write unit test for their project and need to have H2O,

[2018-05-14 17:03] hangelwen commented on #700
@jakubhava
`SharedH2OTestContext ` is just an example. Maybe all the stuff in https://github.com/h2oai/sparkling-water/tree/master/core/src/test/scala/org/apache/spark/h2o/utils can be reused by clients.

[2018-05-14 17:09] jakubhava commented on #700
If I understand correctly, you would like the testing features to be exposed to maven so you can use those as a dependency? Thanks!

[2018-05-14 17:11] hangelwen commented on #700
@jakubhava
That's right. Since there are a few utilities in the tests which are useful for clients. Maybe you can provide another artifact just with tests.

[2018-05-18 16:33] yeshwanth43 opened #715 "ArrayIndexOutOfBoundsException while converting sparklyr dataframe to h2o dataframe and viceversa"
Version Information:
[code]

we have 2 GB parquet dataset contains 10 Million rows and 190 columns
we are trying to run h2o models by reading the parquet as sparklyr dataframe and converting it to h2o dataframe, there we are hitting

[code]
[code]

Sparklyr application has h2o internal cluster
following is the configuration of h2o and spaklyr

[code]

for now we are doing workaround of reading and

[2018-05-23 10:11] jakubhava commented on #715
We need to see the logs to see what is happening. The Spark executor probably died, but would be good to see why. @yeshwanth43 could you please share your YARN logs?

[2018-05-24 06:45] sharmmoh1983 opened #723 "Not able to convert a spark Dataset<Row> to H2OFrame from asH2OFrame if the dataset is streaming dataset"
I am reading  from Kafka and transforming data set to H2o frame  but getting error

val ds1: DataFrame = spark
    .readStream
    .format("kafka")
    .option("kafka.bootstrap.servers", "localhost:9092")
    .option("subscribe", "my-connect-test")
    .option("failOnDataLoss", false)
    .load()

Dataset<Row> testData=sparkSession.readStream().schema(testSchema).format("kafka").option("kafka.boot

[2018-05-24 07:19] jakubhava commented on #723
Hi @sharmmoh1983,
 can you please share more about your environment? What Sparkling Water version are you using, are you using YARN? Can you also share the complete, minimal and reproducible code? This is Spark exception, but I would like to be sure we are not doing anything wrong.

Thanks for help!

Kuba

[2018-05-24 17:31] NkululekoThangelane opened #724 "Spark-Shell vs Spark Submit"
Good Day.

Im currently running sparking water using an internal backed via the pysparking api.
I am able to run Sparkling Water with H2O in a Juptyter NoteBook, However when I want to run the same code with the same cluster setting using spark-submit in yarn client mode I seem to be getting a whole host of new errors that I did not get when running in the note book. Such error normally revolve ar

[2018-05-24 18:03] NkululekoThangelane opened #725 "Java Memory Errors in Spark Submit"
Hi Get the a simliar error for Java Heap Memory when using trying to score new data . New data has less than 1000 records however Sparkling water keeps running in to this GC Memory Error. I have increase executor memory to 60GB for 5 executors but I did not think that this model would need this much memory to score such a smore data set.
conf.set('spark.driver.memory','50G')
conf.set("spark.driver

[2018-05-24 18:04] NkululekoThangelane commented on #484
@michalkurka No problem i was able to create a new issue for this.

[2018-05-25 00:06] sharmmoh1983 commented on #723
Hi @jakubhava

Thanks for your reply . I am getting some issue related to  mismatch of sparklingwater and spark running on my system which I am trying to figure out

I will keep give you details as soon as it gets resolved

Do you have any idea of this mismatch error?

[2018-05-25 10:34] NkululekoThangelane commented on #624
@Tagar  I am getting similar problems. please let me know if you found a solution to this.

[2018-05-25 17:01] sharmmoh1983 commented on #723
I am running sparkling water on my mac machine in a stand alone manner
Following is the code:

import java.util.Properties
import org.apache.spark.sql.streaming.StreamingQuery
import org.apache.spark.sql.{DataFrame, Dataset, SparkSession}
import org.apache.spark.sql.types.{IntegerType, StringType, StructField, StructType}
import org.apache.spark.sql.functions._
import org.apache.spark.sql.streamin

[2018-05-26 10:15] sharmmoh1983 commented on #723
Hi

H2O Context is not visible in sparkling core jar hence not visible

<dependency>
    <groupId>ai.h2o</groupId>
    <artifactId>sparkling-water-core_2.11</artifactId>
    <version>2.3.0</version>
    <type>pom</type>
</dependency>

In jar file I could see org.apache.spark.repl.h20 instead of org.apache.spark.h2o._

So when I using following code:

import org.apache.spark.h2o._
     val h2oConte

[2018-05-27 11:12] sharmmoh1983 commented on #723
I have tried to build the code many a times but still no break through

Also I am using maven to build the project

**<dependency>
    <groupId>ai.h2o</groupId>
    <artifactId>sparkling-water-core_2.11</artifactId>
    <version>2.3.2</version>
    <type>pom</type>
</dependency>**

[2018-05-28 09:04] jakubhava commented on #724
Hi @NkululekoThangelane, in order to be able to reason about the issue we need to have:

 - full YARN logs
 - Spark & Sparkling Water version
 - full command line you use to start your spark application
 - if possible, the minimal application code

Thank you!

Kuba

[2018-05-28 09:08] jakubhava commented on #725
@NkululekoThangelane Are you using Spark submit or interactive shell? Are you running on YARN?

On YARN, you need to provide the memory configuration in your shell as part of the command line used to start your Spark App.

Such as ./bin/sparkling-shell --conf "spark.driver.memory=50G" --conf "spark.executor.memory=50G" as specifying the memory options later has no effect when you are running on YA

[2018-05-28 09:11] jakubhava commented on #723
@sharmmoh1983 unless you have specific needs, please download our official sparkling water distribution package from here and test on their. We can't properly support debugging on custom Sparkling Water builds. You can download Sparkling Water from https://www.h2o.ai/download/

[2018-05-28 11:09] sharmmoh1983 commented on #723
Hi @jakubhava

I have made use of your published pm file only but now I am gettiing following error:

18/05/28 21:07:40 ERROR MicroBatchExecution: Query [id = 3f32d3d2-60a2-475f-9030-4a9c11f882a5, runId = 3da933b6-fff8-40f5-8c93-53dd80570f39] terminated with error
java.lang.NoSuchMethodError: com.fasterxml.jackson.module.scala.deser.BigDecimalDeserializer$.handledType()Ljava/lang/Class;

This is h

[2018-05-28 11:55] jakubhava commented on #723
You are missing specific Spark classes, please make sure all your dependencies are specified correctly.

[2018-05-28 12:29] sharmmoh1983 commented on #723
Thanks @jakubhava  I have added one dependency andit is working
I have a requirement to make use of AutoML model to do the prediction
I am using following code but not able to do prediction using AutoML :

` import h2oContext.implicits._
  val h2oFrame = h2oContext.asH2OFrame(train, "my-frame-name")

 val autoMLBuildSpec = new AutoMLBuildSpec()
autoMLBuildSpec.input_spec.training_frame = h2oFrame

[2018-05-28 12:30] jakubhava commented on #723
@sharmmoh1983 let's close this issue. Please create a new one regarding to your question about automl.

Thanks! Kuba

[2018-05-28 12:30] #723 closed

[2018-05-28 12:38] sharmmoh1983 opened #730 "Prediction using AutoML"
Hi
I am using AutoML to create model and do prediction
I have used following code to create the model but not able to us any method to do prediction and get the score

[code]
I want to do classification and I am using weather data having one of the response columns as Snow value

Is this right way to do it?

[2018-05-28 13:07] NkululekoThangelane commented on #725
@jakubhava  Thanks for the getting back to me.
I will test  this and definitely get back to you.

[2018-06-01 06:30] hangelwen opened #732 "H2ONotFoundArgumentException when trying save trained model with ModelSerializationSupport.exportMOJOModel"
The following code triggered H2ONotFoundArgumentException:
This code
[code]
triggered H2ONotFoundArgumentException:

[code]

Sparkling Water I tried includes 2.0.27 and 2.3.1

[2018-06-01 06:56] jakubhava commented on #732
Can you please share full and minimal reproducible code?

[2018-06-01 07:11] hangelwen commented on #732
@jakubhava It's just a piece of code to train a GBM model and then call this method to save the model... Removing this step the code runs fine. Also this line of code worked in Zeppelin. But when I built a jar and submit it to the cluster it failed.

[code]

[2018-06-01 16:26] hangelwen commented on #732
@jakubhava
Actually while there was a H2ONotFoundArgumentException,  there was a file saved at the given HDFS path, but the file size looked small and is not a valid zip file. When I tried to unzip I got the following error:
[code]

[2018-06-01 16:32] hangelwen commented on #732
@jakubhava a similar mode saved using the same code in Zeppelin.
[code]

[2018-06-01 17:28] hangelwen commented on #732
@jakubhava Same issue when I tried to save to local path: a small invalid zip file was created with same exception.

[2018-06-02 09:20] jakubhava commented on #732
@hangelwen are you building sparkling water or using official distribution? Can you please try your code on official distribution which you can download from https://www.h2o.ai/download/

[2018-06-04 16:54] hangelwen commented on #732
@jakubhava Using `--jar` to provide the dependency solved the issue (at least for the 2.1.30 SW version I tested)

[2018-06-04 17:01] #732 closed

[2018-06-06 12:32] sharmmoh1983 commented on #730
Any comment on the issue? I am struggling to get it through

[2018-06-10 06:49] heeseonhan opened #735 "package or namespace load failed for ‘h2o’ in get(Info[i, 1], envir = env):"
I setting the below .libPath() than install H2o . But When load the h2o, I got the error message.
os is Windows.

Error: package or namespace load failed for ‘h2o’ in get(Info[i, 1], envir = env):
 lazy-load database 'C:/00-R/step_37R_DEEP/keras/requrePackages/h2o/R/h2o.rdb' is corrupt
In addition: Warning message:
In get(Info[i, 1], envir = env) : internal error -3 in R_decompress1

here sessioni

[2018-06-11 00:49] sharmmoh1983 opened #736 "H20Sparkling :Queries with streaming sources must be executed with writeStream.start();;"
I am getting error while using H2O sparkling water API on streams:

Queries with streaming sources must be executed with writeStream.start();;

[code]

[2018-06-11 00:51] sharmmoh1983 commented on #736
If I uncomment query2.awaitTermination() line then no errors appear but nothing happens beyond that i.e no H2o code gets executed

[2018-06-11 09:28] jakubhava commented on #735
@heeseonhan have you installed H2O the official via via CRAN?

[2018-06-11 09:29] jakubhava commented on #730
Please see https://github.com/h2oai/sparkling-water/blob/3940c723be075502da9596fbf77f811fef3dcf13/examples/pipelines/hamOrSpamMultiAlgo.script.scala#L97, this is the official way how to use AutoML in Sparkling Water

[2018-06-12 11:15] JeroenSchmidt opened #741 "Time line for spark 3.2.1"
With the release of spark 2.3.1 - when can the community expect a sparkling water release for spark 2.3.1?

[2018-06-12 11:17] jakubhava commented on #741
Hi @JeroenSchmidt, the support for Spark 2.3.1 is planned for the release of Sparkling Water which also integrates H2O 3.20.0.1.

[2018-06-12 11:17] #741 closed

[2018-06-12 11:33] #730 closed

[2018-06-12 11:35] jakubhava commented on #715
We can proceed without the logs, closing the issue. @yeshwanth43 if you will be able to upload the logs, please feel free to reopen the issue

[2018-06-12 11:35] #715 closed

[2018-06-12 11:36] jakubhava commented on #724
Ho @NkululekoThangelane, any update?

[2018-06-12 11:36] jakubhava commented on #725
Hi @NkululekoThangelane, any update?

[2018-06-12 11:40] jakubhava commented on #736
Hi @sharmmoh1983, I would suggest printing the value instead into the console ( `.format("console")` ) into `csv` file for example. See this https://stackoverflow.com/questions/47357418/how-to-get-the-output-from-console-streaming-sink-in-zeppelin.

The `awaitTermination` call consumes the data unless written as part of one single streaming pipeline.

[2018-06-12 11:40] #736 closed

[2018-06-12 12:09] sharmmoh1983 commented on #736
Hi @jakubhava
I am not looking for what is provided in the example provided by you.
I just want to use the split the readstream data to train and test and create the model out of it

Why I am facing issue in doing so , why nothing happens after query2.awaitTermination()

[2018-06-12 12:12] jakubhava commented on #736
please read the stack-overflow explanation I shared with you.

[2018-06-12 12:32] NkululekoThangelane commented on #724
Hi @jakubhava  i will try upload all Logs. We are currently using spark 2.1 and h2o (3.18.0.11)
h2o-pysparkling-2.1 (2.1.30).  When I train a model using the Pyspark-shell on jupyter notebook everything goes well. However when i train the model using spark2-submit I get memory errors and containers killed by YARN for memory issues. We are currently using Java 8 and don't know where else to change

[2018-06-12 12:36] jakubhava commented on #724
is your PySparkling shell running on YARN as well?

Regarding the memory issues -> YARN cluster needs to be configured correctly, this means for example that the containers need to have enough memory, there is enough memory in the physical node, there are also some YARN extra memory configurations. I would suggest contacting your YARN cluster administrator and check with him/her.

[2018-06-19 17:55] hangelwen opened #767 "Load a model without starting a H2O cluster"
Is that possible to load a model without starting a H2O cluster?

The following code throws NPE if a H2O cluster is not avail.
[code]

The use case here is that I want to retrieve model stats such as feature importance,  training/validation accuracy, etc in a service. Seems the information is only not avail in MOJO models.

[2018-06-19 19:42] jakubhava commented on #767
Hi @hangelwen POJOs and MOJOs are designed to work without needing to have H2O available at run-time. You are trying to load a binary model which actually always need to have H2O cluster available.

I would suggest exploring deployment of H2O models using MOJO.

[2018-06-19 19:47] hangelwen commented on #767
@jakubhava thanks. Yes for model deployment I'm using MOJO and it works. However, it does not provide model properties as I mentioned.  What I'm thinking to have is a service to have all models and their properties exposed so ppl can get those info by hitting an API.  It seems heavy to have a H2O cluster started for this kind of use case.

[2018-06-19 19:48] jakubhava commented on #767
Can you maybe list all the properties you would like to have exposes as part of MOJO? Maybe core H2O has them already exposed and we just need to create wrapper calls on Sparkling Water side.

Thanks for the feedback!

[2018-06-19 19:51] hangelwen commented on #767
@jakubhava

Something that I think are useful:
1. feature importance.
2. metrics(AUC, logloss, etc) on training & testing data set when the model is built.
3. model parameters.

[2018-06-19 19:54] hangelwen commented on #767
@jakubhava
Seems these info are not exposed by the genModel(MOJO) API so I guess we can not add wrappers on SW side.

[2018-06-19 19:58] jakubhava commented on #767
Yup, I just checked as well. Let me ask folks behind H2O about those. Thanks for opening this issue!

[2018-06-19 19:59] hangelwen commented on #767
@jakubhava great! looking forward to hearing from you.

[2018-06-19 20:02] hangelwen commented on #767
@jakubhava another choice is to allow loading of a  binary H2O model without a H2O cluster and accessing all model related information, and only fails when operations that requires a H2O cluster suc has `score` is invoked...

[2018-06-19 20:31] vishalbahirwani opened #768 "Issue with "pip3 install h2o_pysparkling_2.3"?"
This was working few days ago.

Command used:
`pip3 install h2o_pysparkling_2.3 -v`

Stuck here:
`Running setup.py (path:/mnt/tmp/pip-install-wem4f9ho/pyspark/setup.py) egg_info for package pyspark`
`    Running command python setup.py egg_info`

[2018-06-19 20:36] jakubhava commented on #768
PySparkling now requires dependency on `pyspark`

Can you try installing `pyspark` as `pip3 install pyspark`?

[2018-06-19 20:50] vishalbahirwani commented on #768
Thanks for quick reply. However, execution is stuck at the same spot as before. For some reason, Pyspark install command never returns back cursor.

[2018-06-19 20:53] jakubhava commented on #768
Can you please share what `python` are you using?

[2018-06-19 20:57] vishalbahirwani commented on #768
Python 3.4.8

[2018-06-19 21:10] vishalbahirwani commented on #768
Pyspark is already installed. I'm not sure why h2o_pysparkling_2.3 is installing Pyspark again?

[2018-06-19 21:18] vishalbahirwani commented on #768
Issue resolved. Had to install `pip3 install pypandoc` and then install Sparkling water.

[2018-06-20 09:16] jakubhava commented on #768
thanks!

[2018-06-20 09:16] #768 closed

[2018-06-20 09:17] jakubhava commented on #735
Hi @heeseonhan any updates please?

[2018-06-20 09:17] #725 closed

[2018-06-20 09:18] jakubhava commented on #724
Closing this issue as there is not update, feel free to re-open

[2018-06-20 09:18] #724 closed

[2018-06-20 09:19] jakubhava commented on #484
Closing this issue as there is no input, please fee free to re-open if needed

[2018-06-20 09:19] #484 closed

[2018-06-20 11:56] NkululekoThangelane commented on #725
Thanks @jakubhava  I think we found a solution by being able to parse greater memory configs to spark.

[2018-06-20 15:50] jakubhava commented on #735
Feel free to re-open, I'm closing this issue as there is no input

[2018-06-20 15:50] #735 closed

[2018-06-27 01:10] mumuhhh opened #791 "A MTJ API should be added to the Sparkling Water Assembly"
PCA needs this dependency

include(dependency("com.googlecode.matrix-toolkits-java:mtj"))

[2018-06-29 14:37] CuddleFish18 opened #792 "spark_connect argument is of length zero"
I'm very new to Spark/Sparklingwater and AWS. First I created an Spark Cluster on AWS EMR got it running and used sparklyr to do some data preparation in R combined with Spark.
(spark_connect worked perfectly)

We created a model in H2O before and now we want to use Sparkling water for this.
I installed in following these steps:
http://h2o-release.s3.amazonaws.com/sparkling-water/rel-2.3/8/index.h

[2018-06-29 15:43] simonvdk commented on #705
Any update on this issue ?

[2018-06-29 15:44] jakubhava commented on #705
@simonvdk it's our top priority and it's work in progress. We should enable custom builds of Sparkling Water soon, sorry for the inconvenience

[2018-07-03 16:44] simonvdk opened #797 "'Detected number of Spark workers is 1' error when creating H2O Context"
I work on Google Cloud Dataproc (Spark 2.2.1, Python 3.4.2) and want to create a H2O cluster using pysparkling but can not create one with more than 1 worker. Here is the process I used:

After installing `h2o-pysparkling-2.2==2.2.19` using pip, I launched a shell with the following configurations:
[code]

Then I ran in the shell:
[code]

This works fine when I create a H2O cluster with 1 worker (

[2018-07-04 08:36] simonvdk commented on #797
I managed to start a cluster (on both Spark 2.2 and 2.3) by changing the value of the option `spark.ext.h2o.dummy.rdd.mul.factor` to 1.
The default option (10) didn't work for me (it took ages, blocked at 1/3 of the creation and finally crashed) which is why I put it to 0. I guess I'll put it to 1 now.
What is the purpose of this option ? The documentation given (`Multiplication factor for dummy R

[2018-07-09 08:10] jakubhava commented on #791
@mumuhhh if you have any proposals for the code change, can you please create a pull request? Thank you!

[2018-07-09 08:10] #791 closed

[2018-07-10 08:12] jakubhava commented on #797
Hi @simonvdk.

I would suggest not changing the `spark.ext.h2o.dummy.rdd.mul.factor` unless you are really sure about what you are doing. It is required for several technical reasons.

You are using internal sparkling water backend in which we need to discover all Spark executors at the beginning. We achieve this by creating artificial task which tries to utilize all Spark executors.

I would sugg

[2018-07-10 08:18] simonvdk commented on #797
Thank you for your answer, it works fine for now with the dynamic allocation disabled and `spark.ext.h2o.dummy.rdd.mul.factor` set to 1 (the default value of 10 does not work for me), I will keep this in mind if I have further errors related to this !

[2018-07-10 08:18] #797 closed

[2018-07-10 08:19] jakubhava commented on #797
Perfect, thank you!

[2018-07-10 08:44] jakubhava commented on #792
Hi @CuddleFish18. I was able to reproduce and provided a fix in the main RSparkling branch.

Please install RSparkling as:

[code]

This will install the latest RSparkling with the provided fix. Thank you for the report!

[2018-07-10 08:44] #792 closed

[2018-07-11 07:13] CuddleFish18 commented on #792
Thanks @jakubhava! I will have a look at it :)

[2018-07-17 19:54] benmccann commented on #399
I see the h20 docs say that multi-node has beta support. Is this true in sparkling water as well then? What does it mean for something to be a beta feature? We do have to do anything special to enable it or is it automatically available and we should just expect some level of rough edges / bugs?

http://docs.h2o.ai/h2o/latest-stable/h2o-docs/data-science/xgboost.html

[2018-07-19 05:14] sukumaar opened #842 "There is no feature named STABLE_PUBLISHING"
I did git clone of **sparkling-water** repo and tried **gradle clean** . I have received below error
A problem occurred evaluating settings 'sparkling-water'.

Then I ran with **--stacktrace** , it is showing below error in **sparkling-water/settings.gradle**:
[code]

[2018-07-19 06:05] jakubhava commented on #842
@sukumaar it seems like you are building Sparkling Water with Gradle installed in your system which has different version then we use. Sparkling Water is shipped with Gradle wrapper which we advice all people to use to avoid Gradle version mismatches. Please invoke Sparkling Water Gradle tasks as
`./gradlew build -x check`

[2018-07-19 06:19] sukumaar commented on #842
Thanks, I am able to build it now.

[2018-07-19 06:19] #842 closed

[2018-07-19 06:21] sukumaar opened #844 "Could not resolve all files for configuration ':sparkling-water-py:compile'"
getting below issue while performing gradle build:

[code]

[2018-07-19 06:22] jakubhava commented on #844
Known issue for external developers, we are working on it, please see https://github.com/h2oai/sparkling-water/issues/844

[2018-07-19 06:22] #844 closed

[2018-07-19 10:26] urbaman opened #850 "Cloudera/Data Science Workbench session initialization problem"
Hi,

we're trying to use h2oai inside our environment (Cloudera 5x, Workbench 1.3.0, Spark 2.3) but it fails during initialization, with the attached log (full with commands and resulting error):
[errors_sparklyr_h2o.txt](https://github.com/h2oai/sparkling-water/files/2209437/errors_sparklyr_h2o.txt)

Ultimately, without h2o we can open Spark or R sessions without any problems, but with h2o  we ca

[2018-07-19 10:31] jakubhava commented on #850
Thank you for the report! Currently, H2O requires dependency `biz.k11i:xgboost-predictor:0.3.0` from this repository http://dl.bintray.com/komiya-atsushi/maven. With regular `spark-submit` or `spark-shell` it is possible to specify the list of additional repositories from which we should load artifacts as `--repositories http://dl.bintray.com/komiya-atsushi/maven`. However SparklyR does not have A

[2018-07-20 23:01] salivian opened #857 "unresolved dependencies for 2.3.9"
Fail to start sparkling water as

spark-shell  --packages ai.h2o:sparkling-water-package_2.11:2.3.9

Missing modules biz.k11i#xgboost-predictor;0.3.0 and ai.h2o#mojo2-runtime;0.10.7

xgboost-predictor may be resolved to specifying additional repo
yet
mojo2-runtime is really unavailable

[code]

[2018-07-23 06:13] jakubhava commented on #850
Hi @urbaman , I'm closing this issue for now as we have an answer. Please feel free to comment or recreate this issue if you need more help

[2018-07-23 06:13] #850 closed

[2018-07-23 06:14] jakubhava commented on #857
@salivian regarding `xgboost` library, you need to run Sparkling water with additional repository as:

$SPARK_HOME/bin/spark-submit --repositories http://dl.bintray.com/komiya-atsushi/maven --packages ai.h2o:sparkling-water-package_2.11:2.3.9

Regarding the mojo2 library, please see https://github.com/h2oai/sparkling-water/issues/705. We plan to address the issue ASAP, all the moving pieces are re

[2018-07-23 06:14] #857 closed

[2018-07-24 17:00] simonvdk opened #861 "Correct way to stop h2o cluster/context"
Hi there,

I am using h2o-pysparkling-2.2==2.2.20 and am searching for the correct way to stop an h2o cluster/context.
I need this because in my use case I sequentially spawn and stop spark sessions (one for each task) and want to be able to follow this logic with h2o contexts (sequentially spawn/stop spark sessions with if needed the creation/stop of an h2o context)

I tried H2OContext.stop(), wh

[2018-07-30 06:44] jakubhava commented on #861
@simonvdk currently, in order to stop the H2OContext, you need to stop the full Spark application. It is a current limitation of Sparkling Water/H2O that H2O can't be restarted inside one single JVM.

[2018-07-30 06:44] #861 closed

[2018-08-02 13:07] urbaman commented on #850
Hi @jakubhava

We finally succeeded installing everything from Workbench Data Science, but now we have another problem, always while connecting:

[code]

We're getting:

[code]

If we look inside /home/cdsw/.ivy2/jars/ we find a different file: net.sourceforge.f2j_arpack_combined_all-0.1-javadoc.jar instead of the one hi's searching for.

Do you know of any related issues or how to solve/wolkaroun

[2018-08-02 13:11] jakubhava commented on #850
Hi @urbaman, can you try cleaning your local ivy cache?

[2018-08-02 14:03] urbaman commented on #850
Hi @jakubhava thank you very much, we cleared ivy2 cache and that problem also disappeared, now we're stuck with:

[code]

So we're back with inability to connect while having no  hints at any  specific problem (we still can connect if we don't use rsparkling/h2o).

[2018-08-02 15:24] jakubhava commented on #850
Does your node on which you are starting the session has access to the internet? Also could you please share the full code?

One thing you could try is starting RSparkling as:

options(rsparkling.sparklingwater.location = "/path/to/sparkling_water.jar")
options(rsparkling.sparklingwater.version = "2.3.8")
library(rsparkling)

where you can download this Sparkling Water from https://s3.amazonaws.co

[2018-08-13 09:27] jakubhava commented on #705
@LehakDharmani You can always download Sparkling Water from https://www.h2o.ai/download/. The latest version for Spark 2.2 is available here https://s3.amazonaws.com/h2o-release/sparkling-water/rel-2.2/22/index.html

This issue affects only the build outside of our internal infrastructure, however it is always highly suggested to use the official builds

[2018-08-27 02:03] munsheet opened #916 "Rsparkling h2o_context water.fvec.frame Error"
Hi, I'm trying to set up my R environment to run h2o algorithms on a YARN cluster.
(have no access to the internet due to security reasons - running on R Server)

Here are my current environment settings:

- spark version: 2.2.0.2.6.3.0-235 (2.2)
- master: YARN client
- _rsparkling_ version: 0.2.5
- sparkling water: 2.2.16
- _h2o_ version: 3.18.0.10
- _sparklyr_ version: 0.7.0

I checked the h2o_v

[2018-08-27 12:15] Akhilesh491431 commented on #857
I found the xgboost jar file, manually downloaded and placed in the location , but I am not able to find the mojo2-runtime jar Any fix for this?

[2018-08-30 03:48] lppsuixn opened #918 "can H2OMOJOModel prediction give the result directly?"
As title.I use
[code]
and the predictions has  a  column named prediction_output  like
|-- prediction_output: struct (nullable = true)
 |    |-- p0: double (nullable = false)
 |    |-- p1: double (nullable = false)
or
 |-- prediction_output: struct (nullable = true)
 |    |-- value: double (nullable = false)
or
 |-- prediction_output: struct (nullable = true)
 |    |-- probabilities: array (nullab

[2018-08-30 21:02] laurendiperna commented on #916
to help keep track of the locations this question, it is also posted here: https://stackoverflow.com/questions/52053444/rsparkling-spark-error-on-yarn-java-lang-classnotfoundexception-water-fvec-fra

[2018-08-30 21:02] laurendiperna commented on #918
to help keep track of the locations this question, it is also posted here: https://groups.google.com/forum/#!topic/h2ostream/7oyk8X_DvRg

[2018-09-03 02:06] hakangurel commented on #705
I have the same issue. I cannot make it running on zeppelin 0.8.0 as documented here:
http://docs.h2o.ai/sparkling-water/2.3/latest-stable/doc/deployment/use_on_zeppelin.html?highlight=zeppelin

We are very eager to try sparkling water on zeppelin so that would be very much appreciated if you can fix this dependency issue or provide mojo2-runtime if possible.

[2018-09-05 08:50] #916 closed

[2018-09-11 06:53] hakangurel opened #919 "Sparkling Water on Zeppelin - RuntimeException"
Hi,

Trying to follow the [documentation](https://h2o-release.s3.amazonaws.com/sparkling-water/rel-2.3/10/doc/tutorials/use_on_zeppelin.html)

`export SPARK_HOME=...# Spark 2.3 home
export SPARK_SUBMIT_OPTIONS="--packages ai.h2o:sparkling-water-package_2.11:2.3.10"
bin/zeppelin.sh -Pspark-2.3`

generates the following error:

`Exception in thread "main" java.lang.RuntimeException: [unresolved depe

[2018-09-12 03:47] myloginid commented on #857
Same issue -

`
library(rsparkling)
library(sparklyr)
library(h2o)
library(dplyr)

config <- spark_config()
config$spark.driver.cores   <- 1
config$spark.executor.cores <- 2
config$spark.executor.memory <- "2G"
config$spark.jars.repositories <- "http://dl.bintray.com/komiya-atsushi/mavenm,http://maven.corp.factual.com/nexus/content/repositories/snapshots/"
config$spark.ext.h2o.topology.change.list

[2018-09-12 16:12] hugoJuhel opened #920 "sparklingWater - local class incompatible / cloud size under ###"
Set up
----------

I'm running into troubles setupping sparkling-water on a standalone spark-cluster.
I have a two-nodes and one master Spark cluster deployed on the top of a kubernetes cluster.
I have been able to connect Python / R to my remote Spark cluster and perform several Spark operations.
So I'm pretty sure that my spark cluster is properly working.

    Alive Workers: 2
    Cores in use:

[2018-09-13 08:14] jakubhava commented on #920
Thank you for the report!

I see that you are using Standalone Spark cluster mode, at this moment we are not testing on this deployment scenario, but I will have a look on it.

Thank you!

Kuba

[2018-09-13 11:42] hugoJuhel commented on #920
Hi @jakubhava

Thanks a lot for your help ! I do appreciate it. Tell me if there anything you want me to try on my cluster to help you.

jugo.

[2018-09-13 21:11] mmalohlava commented on #792
btw: for the future we moved the rsparkling into sparkling-water repo - that means correct github-based installation is:

[code]

[2018-09-14 06:29] jakubhava commented on #857
We are working on it, sorry for delays, please see https://github.com/h2oai/sparkling-water/issues/705

[2018-09-14 06:45] jakubhava commented on #919
Hello, this is a known issue, sorry for delays, please see https://github.com/h2oai/sparkling-water/issues/705

[2018-09-14 06:45] #919 closed

[2018-09-14 07:12] jakubhava commented on #918
Hi @lppsuixn, what do you mean to be able to get the result directly? The resulted frame `predictions` contains both the original columns and the response column.

There is not much to do on our side, you need to use regular Spark approaches how to get the data from a column?

You can for example do `predictions.select("prediction_output").take(10)`

[2018-09-14 07:12] #918 closed

[2018-09-14 07:12] jakubhava commented on #918
Please open the issue if you have any questions!

[2018-09-14 07:30] lppsuixn commented on #918
I want to get the label directly in Classification problem. As In binomial prediction,the  "prediction_output" column just give the probability of clsass.
And in the source code,they really only give these .
[code]
But In BinomialModelPrediction function，It can give what I want.
[code]
So,What can I do If I want to get the label Of Classification problem directly.

[2018-09-25 08:28] lppsuixn commented on #767
How is it going.
I also want to get some metrics from mojo.

[2018-09-26 14:14] rajkumarraibis opened #949 "rsparkling error with spark 2.2.1"
We are trying to run rsparkling on AWS EMR 5.11.1 , spark 2.2.1
Following is the code

R version 3.4.1 (2017-06-30)
Platform: x86_64-redhat-linux-gnu (64-bit)
Running under: Amazon Linux AMI 2017.09
other attached packages:
rsparkling_0.2.9 sparklyr_0.8.4
#EMR already has spark 2.2.1 , no need to install

Error in force(code) :
  Failed while connecting to sparklyr to port (8880) for sessionid (17

[2018-09-26 14:21] jakubhava commented on #949
HI @rajkumarraibis can you please try running it with the latest released Sparkling Water for Spark 2.2? Thank you!

`options(rsparkling.sparklingwater.version = "2.2.25")`

Kuba

[2018-09-26 14:58] rajkumarraibis commented on #949
Hi @jakubhava

For spark 2.2.1 , Correct Sparkling water is http://h2o-release.s3.amazonaws.com/sparkling-water/rel-2.2/19/index.html
I am able to connect by adding following option
options(rsparkling.sparklingwater.location = "~/sparkling-water-2.2.19/assembly/build/libs/sparkling-water-assembly_2.11-2.2.19-all.jar")

Big Thanks for the quick help... :+1:

[2018-09-26 15:03] jakubhava commented on #949
@rajkumarraibis even latest Sparkling Water is fine for Spark 2.2.1. The spark minor version is not important for us. I would suggest using the latest Sparkling Water on the link I provided.

Could you please test that as well?

Thank you!

[2018-09-26 15:13] rajkumarraibis commented on #949
That's not working..
actually I tested with http://h2o-release.s3.amazonaws.com/sparkling-water/rel-2.2/25/index.html. in first place. It was giving h2o version error . It said to that it detects h2o H2O version: 3.20.0.8 and need to downgrade to H2O version: 3.18..

[2018-09-27 09:59] #949 closed

[2018-09-27 18:50] rajkumarraibis commented on #949
Now i am stuck at the next step. connection is happening but h2o_context is not getting created.
Please look...Following is the code and error

R version 3.4.1 (2017-06-30)
Platform: x86_64-redhat-linux-gnu (64-bit)
other attached packages:
[1] rsparkling_0.2.9 sparklyr_0.8.4

[1] TRUE

Error: org.apache.spark.h2o.backends.external.H2OClusterNotRunning:
External H2O cluster is not running or could

[2018-09-27 20:46] rajkumarraibis commented on #949
@jakubhava ,

Following are all the errors\warning from spark connection logs using `spark_log(sc, n = 100)`

18/09/27 20:34:06 WARN Utils: Service 'SparkUI (HTTPS)' could not bind on port 4440. Attempting port 4441.
18/09/27 20:34:06 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
18/09/27 20:34:09 WARN Token: Cannot find class for token kind HIVE_DELEGATION_TOKEN

[2018-09-27 21:56] jakubhava commented on #949
I see you are using External back end with automatic start mode of external H2O cluster. Do you have H2O cluster running? Also, this external cluster needs to use the extended jars as they are containing additional sparkling water classes.

Just to make sure, is the `corenodeip` ip address of one of the nodes of the H2O cluster? Could you please share also the logs of the external H2O cluster? Tho

[2018-09-28 14:02] rajkumarraibis commented on #949
@jakubhava ,

**Ans**. No. external h2o cluster start mode is manual.
`conf$spark.ext.h2o.external.start.mode="manual"`

 **Ans**. Yes , External h2o cluster is running fine.
i can access h2o flow. All nodes on the cluster are able to talk to each other on port 54323
above is cluster details from h2o flow.

**Ans** Yes

[external H2O cluster logs.txt](https://github.com/h2oai/sparkling-water/files

[2018-10-02 01:39] jakubhava commented on #949
Hi @rajkumarraibis we know about this issue, however we have to prioritize the customer requests. When I have a free sec, will have another look.

Thanks for being patient!

Kuba

[2018-10-02 21:19] ndegara opened #959 "RSparkling unresolved dependencies ai.h2o#mojo2-runtime-api;0.13.2: not found"
Could anyone help with this please? I'm trying to install rsparkling as described in:
https://github.com/h2oai/sparkling-water/tree/master/r

However I get the following error:

::          UNRESOLVED DEPENDENCIES         ::

:: ai.h2o#mojo2-runtime-api;0.13.2: not found

This is the information about the system and versions:
- rsparkling_0.2.10
- observed in yarn-client and also local
- h2o, spar

[2018-10-02 21:40] jakubhava commented on #959
Duplicate for https://github.com/h2oai/sparkling-water/issues/705

[2018-10-02 21:40] #959 closed

[2018-10-03 14:38] ndegara commented on #959
Yes, #705 is a related issue but I thought this was specific for rsparkling.

[2018-10-03 14:57] ravirajuv opened #960 "Could not create spark connection using rsparkling"
Providing us with the observed and expected behavior definitely helps. Giving us with the following information definitively helps:

- Sparkling Water/PySparkling/RSparkling version
- Hadoop Version & Distribution
- Execution mode `YARN-client`, `YARN-cluster`, standalone, local ..
- YARN logs in case of running on yarn. To collect such a logs you may run `yarn logs -applicationId <application ID>

[2018-10-03 15:00] ravirajuv commented on #960
can someone help me with the below error while creating a spark connection using rsparkling

Error in force(code) :
  Failed while connecting to sparklyr to port (8880) for sessionid (82447): Gateway in localhost:8880 did not respond.

Ivy Default Cache set to: C:\Users\raviraju\.ivy2\cache
The jars for the packages stored in: C:\Users\raviraju\.ivy2\jars
:: loading settings :: url = jar:file:/C:/

[2018-10-03 15:04] jakubhava commented on #960
Duplicate of https://github.com/h2oai/sparkling-water/issues/705, we are working on a fix, should be done this week

[2018-10-03 15:04] #960 closed

[2018-10-06 01:27] jakubhava commented on #705
The fix is out. The current Sparkling Water master can be build again

[2018-10-06 01:27] #705 closed

[2018-10-06 02:02] hakangurel commented on #705
Thanks a lot 👍

[2018-10-12 17:09] FavioVazquez opened #970 "Support for lime in PySparkling"
Hi everyone. Just a quick question. Is there support for lime and its API for models in PySpakling? Let's say I run something close to the examples here: https://github.com/h2oai/sparkling-water/blob/master/py/examples/pipelines/ham_or_spam_multi_algo.py can I use Lime afterwards?

Thanks.

[2018-10-14 01:03] FavioVazquez commented on #970
Oh ok thanks @jakubhava. But what about performance? Should I first sample the spark dataframe and then transform it?

[2018-10-14 01:07] jakubhava commented on #970
It depends on your use-case. Most of the people prefer to clean their data in Spark ( here using Spark transformers) and after apply H2O Algos. As long your cluster has enough memory it's probably fine either way.

I will close this issue for now, feel free to comment if you have any other questions. Thanks!

[2018-10-14 01:07] #970 closed

[2018-10-16 14:01] fzenoni commented on #960
I have the same exact error, but in R, generated by the following code:
[code]
(or whatever version of Spark...).
Has the fix being applied to the R package as well? Or could anyone help me debug?

[2018-10-16 15:32] fzenoni commented on #960
RSparkling is already at the last commit (https://github.com/h2oai/sparkling-water/commit/77adad7559f67568c0b88fb0da59979012eea8ee), and Sparkling Water is already at the latest released version (2.1.40: http://h2o-release.s3.amazonaws.com/sparkling-water/rel-2.1/40/index.html).

[2018-10-16 15:33] jakubhava commented on #960
can you try cleaning your ivy cache?

[2018-10-16 15:42] fzenoni commented on #960
Done. I have a different message now.

[code]

<details><summary>Log file</summary>
<p>

[code]
</p>
</details>

[2018-10-17 07:59] fzenoni commented on #960
It seems that the mojo2-runtime-api that the command tries to download is version 0.13.2, as seen here:

[code]
and here:
[code]
and following messages.

However, navigating to https://repo1.maven.org/maven2/ai/h2o/mojo2-runtime-api/ the only available version is 0.13.5.

Is there a way to fix this?

[2018-10-17 08:17] jakubhava commented on #960
Yup, sorry, my bad.

This new mojo api (which is in maven as well - 0.3.15) is released with Sparkling water in todays release.

It will be released within a few hours, please after, use the latest Sparkling Water. We fixed this in master so people can build we did not do release since then

Thanks!

On 17 Oct 2018, at 10:00, Florian Zenoni <notifications@github.com<mailto:notifications@github.com

[2018-10-17 14:31] fzenoni commented on #960
Using at the moment Spark 2.3.2 with Sparkling Water version 2.3.16 and the following code works out of the box! Thanks for the support.

[code]

[2018-10-18 18:49] Tagar opened #976 "SW 2.3.16 release broken when connecting to h2o backend cluster? java.util.NoSuchElementException: None.get"
Just upgraded to SW to 2.3.16 and couldn't connect to backend h2o external cluster anymore.

[code]

[2018-10-18 18:50] Tagar commented on #976
Was connecting as

[code]

[2018-10-18 18:53] jakubhava commented on #976
Please share H2O/SW Java logs with us as well, thank you @Tagar

[2018-10-18 18:56] Tagar commented on #976
We just downgraded . Can you please try to reproduce connecting to backend cluster on this version ?

[code]

It seems some variable wasn't initialized **None.get** ?

[2018-10-18 18:57] Tagar commented on #976
Downgrade fixed the issue (we were on 2.3.**13** before), so I'm not sure if it's 2.3.16 or 15 or 14 that's broken for us.

[2018-10-18 19:20] Tagar commented on #976
This is the line where the exception happens

https://github.com/h2oai/sparkling-water/blob/52b2f38de4b1182230215093cac6cd4b2cd6c5b9/core/src/main/scala/org/apache/spark/h2o/backends/SharedBackendUtils.scala#L148

[2018-10-18 19:37] Tagar commented on #976
I think I found the root cause in

https://github.com/h2oai/sparkling-water/blob/52b2f38de4b1182230215093cac6cd4b2cd6c5b9/core/src/main/scala/water/init/NetworkUtils.scala#L31

it assumes h2o server is on the same subnet as client. Why? This will not always be the case, and
actually not the case for us!

[2018-10-18 19:57] jakubhava commented on #976
@Tagar You can still set the client IP explicitly

[2018-10-18 20:14] jakubhava commented on #976
https://github.com/h2oai/sparkling-water/pull/977 @Tagar this PR ensures we fallback to original IP discovery in case SW can't find the correct network.

This means that it should unblock you in your use-case. Please feel free to test our nightly http://h2o-release.s3.amazonaws.com/sparkling-water/rel-2.3/nightly/index.html

[2018-10-18 20:16] jakubhava commented on #976
Please check the next nightly tomorrow, thx

[2018-10-18 20:16] #976 closed

[2018-10-18 20:17] Tagar commented on #976
Thank you @jakubhava

[2018-10-19 11:07] jakubhava commented on #920
Hi @hugoJuhel, I just tried to run spark in standalone mode and my experiments worked.

What I did was

`./bin/launch-spark-cloud` this helper script starts spark cloud in standalone mode. Feel free to modify the script or use it as template for starting your cluster

then `export MASTER=spark://Jakubs-MBP:7077` and
`./bin/pysparkling`

[code]

Are you trying to modify class-path of the worker nod

[2018-10-19 11:08] jakubhava commented on #700
Hi @hangelwen sorry for not being able to work on this. Feel free to contribute, would be happy to review!

I'm closing this issue as the priorities for Sparkling Water are not a little different

[2018-10-19 11:08] #700 closed

[2018-10-19 11:10] jakubhava commented on #651
Hi @Tagar can you please tell us whether you are experiencing this issue on the latest Sparkling Water?

Also it is not necessary to pass h2o-genmodel explicitly as we bundle it inside the sparkling water jar already. Thank you!

[2018-10-19 11:15] jakubhava commented on #654
@Tagar you can use our mojo wrappers in pysparkling. They are internally using easy predict model wrapper, but provide a spark api, hiding the internals.

The code looks like:
[code]

[2018-10-19 11:17] jakubhava commented on #657
Closing this issue, this is on our roadmap

[2018-10-19 11:17] #657 closed

[2018-10-19 22:09] Tagar commented on #651
We have moved this to a different architecture - we employ hadoop streaming with a custom java + h2o mojo code there. This was workaround as it wasn't working at the time. I know h2o has resolved those conflicts' dependencies in one of the later versions. We never had time to rewrite our scoring processes since then. But we can give this a try sometime in the future. Thank you

[2018-10-19 22:09] #651 closed

[2018-10-19 22:12] Tagar commented on #654
Thank you for letting me know @jakubhava - that's very helpful. As I just mentioned in https://github.com/h2oai/sparkling-water/issues/651#issuecomment-431513999 , we will give this a try later.

[2018-10-19 22:12] #654 closed

[2018-10-22 07:22] jakubhava commented on #920
@hugoJuhel I'm closing this issue as I wasn't able to reproduce. Please feel free to re-open or comment if you still have the issue

[2018-10-22 07:22] #920 closed

[2018-10-22 07:28] jakubhava commented on #671
This has been fixed https://0xdata.atlassian.net/browse/PUBDEV-5497, that gen-model is already shipped as part of Sparkling Water distribution in the latest versions

[2018-10-22 07:28] #671 closed

[2018-10-22 07:29] jakubhava commented on #671
This has been fixed https://0xdata.atlassian.net/browse/PUBDEV-5497, that gen-model is already shipped as part of Sparkling Water distribution in the latest versions

[2018-10-22 07:30] jakubhava commented on #624
Closing this issue as without logs it's hard to reason about the real issue

[2018-10-22 07:30] #624 closed

[2018-10-22 07:30] jakubhava commented on #624
Closing this issue as without logs it's hard to reason about the real issue

[2018-11-06 15:43] bharathwgl commented on #473
I am getting the same error:

SpreadRDD failure - IPs are not equal:
Please provide some inputs

[2018-11-07 12:34] RefiPeretz opened #985 "DRF training is not really distributed"
I'm ruining on Spark 1.6 , sparkling water: 2.1 trying to train DRF model in yarn mode internal server mode.
After  some research I mange to read h2o client logs which gives you some idea on H2O progress while running.

For our case I have 10 executors devoted for the job.
When I trying to asses which work is done in each executor it seems none of the executors except one(which hold the flow UI we

[2018-11-07 18:20] eduardo4jesus commented on #705
I just got this problem when custom building [pysparkling](http://docs.h2o.ai/sparkling-water/2.2/latest-stable/doc/pysparkling.html).

If the problem was fixed, I am not sure what to do.

My output is:

[code]

[2018-11-11 08:50] #985 closed

[2018-11-28 07:44] Kreitzberg commented on #792
Hello, I am coming across the same issue. I am working in an Amazon AWS cluster which I used the bootstrapping action from here

https://aws.amazon.com/blogs/big-data/running-sparklyr-rstudios-r-interface-to-spark-on-amazon-emr/

Then I installed rsparkling and h2o as written below

[code]

[code]

[code]

[code]

I tried the suggestions of installing rsparkling with

`devtools::install_github("h2

[2018-11-28 08:35] jakubhava commented on #792
@Kreitzberg The last version or available on CRAN RSparkling does not support latest Sparkling Water of 2.2.29. Also, I see that you are installing H2O from install.packages("h2o", type = "source", repos = "http://h2o-release.s3.amazonaws.com/h2o/rel-xia/1/R") -> which is actually `3.22.0.1` and 2.2.29 requires `3.22.0.2`

I can suggest two options:

Either, you can try to use the RSparkling avail

[2018-11-29 03:48] Kreitzberg commented on #792
Thank you Jakub! I was focusing on matching the rsparkling and spark versions! Thanks for the detailed response.

[2018-12-17 23:03] dvanasseldonk opened #1008 "h2o_pysparkling_2.4 - for Spark 2.4.x"
is
h2o_pysparkling_2.4 - for Spark 2.4.x
currently available on pip?

I am having issues installing it

[2018-12-17 23:52] jakubhava commented on #1008
No at the time of writing this, next release will be also for Spark 2.4

[2018-12-17 23:52] #1008 closed

[2018-12-19 22:07] davewdb commented on #1008
Is there a target date for the spark 2.4 release?

[2018-12-20 07:00] jakubhava commented on #1008
It will be out at the start of the new year :)

[2019-01-27 05:28] Tagar opened #1056 "h2o.ls() produces java.lang.ArrayIndexOutOfBoundsException: 71"
After SW was upgraded to 2.3.22 (and a matching h2o backend cluster version),
`h2o.ls()` started producing following exception on a freshly created session / freshly created
h2o backend cluster

[code]

SW (PySpark) connects to a h2o backend cluster.

[2019-02-11 14:02] jakubhava commented on #1056
We have a JIRA here https://0xdata.atlassian.net/browse/PUBDEV-6239

[2019-02-11 14:02] #1056 closed

[2019-02-22 19:08] javierluraschi opened #1078 "rsparkling connection issue using latest packages"
I'm trying the following with the latest versions of `sparklyr` and `rsparkling` but hitting dependency check errors, looks related to https://github.com/h2oai/sparkling-water/issues/960:

[code]

[code]

[code]
[code]

[2019-02-22 20:03] navdeep-G commented on #1078
Any ideas @jakubhava ?

[2019-02-22 21:03] jakubhava commented on #1078
@javierluraschi to avoid any confusion, can you please please try to clean your ivy cache first and let us know? Thanks

[2019-02-22 23:02] javierluraschi commented on #1078
@jakubhava Yes, I did clean my cache with `rm -rf ~/.ivy2/cache/`.

[2019-02-25 17:52] Tagar commented on #64
@jakubhava Is there is an equivalent for such functionality for clusters
started as h2o backend clusters?

We'd like `-notify /some/path/cluster-info.txt` to use domain name instead of IP address.
The reason is, we use a valid (purchased) SSL certificate for h2o backend, so
when user navigates to that address using IP address, browser gives a warning
that SSL cert doesn't cover IP address.

Thanks

[2019-02-26 12:08] jakubhava commented on #1078
@javierluraschi I have just tried with latest rsparkling and was able to reproduce. I will work on a fix which will probably be in the next release of Sparkling Water and RSparkling. Can you please just create a JIRA at https://0xdata.atlassian.net and mention it here? Thank you for the bug report!

[2019-02-27 13:33] jakubhava commented on #1078
Please use this jira to track progress of this issue https://0xdata.atlassian.net/browse/SW-1152

[2019-02-27 13:33] #1078 closed

[2019-03-08 18:37] Shiutang-Li opened #1089 "Early Stopping Round Parameter (stopping_rounds) in XGBoost is not working properly with PySparkling Water"
**Description**
When building an XGBoost model with either cross validation or a single validation set, when the validation metric is not improved in the number of rounds determined by stopping_rounds, it should stop training. Thus the actual number of trees used in the model would be less than what's assigned before training (ntrees).

But based on the codes below, stopping_rounds is not doing it

[2019-03-11 13:19] ahutterTA opened #1090 "weights_column is not supported for XGBoost models"
[weights_column](http://docs.h2o.ai/h2o/latest-stable/h2o-docs/data-science/algo-params/weights_column.html) is available for XGBoost in H2O-3 but not in sparkling-water. It looks like I could add support for the parameter relatively easily but I'm wondering if not supporting weights_column was done explicitly and, if so, what the reason was. Thanks!

[2019-03-11 17:39] jakubhava commented on #64
Hi @Tagar nope, this is currently not supported. Please file a JIRA for this feature request in H2O-3 project and the team will decide on the priority & impact.

[2019-03-11 17:56] Tagar commented on #64
Filed https://0xdata.atlassian.net/browse/PUBDEV-6354
thanks

[2019-03-19 13:48] jborchma commented on #1089
In order for the early stopping to work correctly, you need to specify `score_tree_interval=xxx` to some non-zero number. This should solve your issue.

[2019-03-19 16:37] Shiutang-Li commented on #1089
Thanks! I'll look into that argument and test it.

[2019-03-19 21:07] Shiutang-Li commented on #1089
With score_tree_interval = 1, I was able to generate results which are similar to the ones generated by XGB in Python. Appreciated.

[2019-03-19 21:07] #1089 closed

[2019-03-26 07:18] goldminer09 opened #1108 "[Bug] probability calibration does not work in Sparkling Water Dataframe API"
Although when calibration is enabled, EasyPredictModelWrapper returns a `BinomialModelPrediction` object which contains both raw probs and calibrated probs, the
implicit conversion defined here https://github.com/h2oai/sparkling-water/blob/9968342baa6b00eca2daba628f239a47d08c2ce9/ml/src/main/scala/org/apache/spark/ml/h2o/models/H2OMOJOModel.scala#L81-L83 transforms the `BinomialModelPrediction` ob

[2019-04-02 21:39] jakubhava commented on #1090
Hi @ahutterTA, thansk for the report and sorry for delay reply!

The argument is really missing in the Spark Pipeline API for XGBoost, do you want to have a look at it and expose it?

[2019-04-02 21:41] jakubhava commented on #767
Hello, just wanted to provide an update - we had several discussions and this is the way the mojo format will evolve, thanks!

In the meantime, you can read the metrics and the model information from the experimental json file located insite the mojo ( you need to extract it)

[2019-04-02 21:44] jakubhava commented on #1108
Hi @goldminer09, thanks, this is a good point!

Could you give it a try and implement the fix? Thanks!

[2019-04-07 10:47] joscani opened #1121 "Convert h2oframe to spark dataframe using rsparkling"
I can convert spark dataframe to h2oframe but not  h2oframe to sparkdataframe.
[code]
Error: java.lang.Exception: No matched method found for class org.apache.spark.h2o.H2OContext.asDataFrame

sessionInfo()
other attached packages:
[1] sparklyr_1.0.0    dplyr_0.8.0.1     h2o_3.24.0.1
[4] rsparkling_0.2.22

[2019-04-08 06:43] mn-mikke commented on #1090
Hi @ahutterTA,
you can track the progress of resolving this issue in the Jira ticket [SW-1193](https://0xdata.atlassian.net/browse/SW-1193).

[2019-04-08 11:04] jakubhava commented on #1121
Hi @joscani I could not reproduce the issue.

Can you please share minimal & full reproducible code together with configurations options passed to RSparkling?

What Spark versions are you using, what Sparkling Water versions are you using? How are you starting RSparkling? Do you explicitly pass the jar file of Sparkling Water or do you let RSparkling to download the latest one?

Thanks

[2019-04-10 14:21] ahutterTA commented on #1090
@mn-mikke @jakubhava Thanks, we're getting around this by using "vanilla" H2O after loading the data using Spark.

[2019-04-18 08:29] hemanshupaliwa7 commented on #1121
Is it solved ?? I am having the same issue..I have installed all the compatible versions of Spark, sparkling water and h2o, but still i get this error "Error: java.lang.Exception: No matched method found for class org.apache.spark.h2o.H2OContext.asDataFrame"

[2019-04-18 08:54] jakubhava commented on #1121
@hemanshupaliwa7 which Spark & Sparkling Water & H2O versions are you using? Please also share reproducible code, that will help us debug the issue. Thank you!

Kuba

[2019-04-18 09:52] hemanshupaliwa7 commented on #1121
R -> 3.5.3
Spark -> 2.3.0
Sparkling Water -> 2.3.23
H2O -> 3.22.1.3
As per the compatibility shown here, I ahve all of them correctly installed -> http://docs.h2o.ai/sparkling-water/2.2/latest-stable/doc/rsparkling.html

I am using code from https://spark.rstudio.com/guides/h2o/

My code looks like this :-
[code]
Error I get when i execute the last line of the code:
[code]

[2019-04-18 09:52] jakubhava commented on #1121
Thank you @hemanshupaliwa7, we will have a look!

[2019-04-24 05:54] hemanshupaliwa7 commented on #1121
@jakubhava anything my friend?

[2019-04-24 12:28] jakubhava commented on #1121
@hemanshupaliwa7 I see a bad Sparkling Water pattern in your code which is causing your issue

I see that you call `h2o.init()`. This code should not be run in Sparkling Water environment. It checks whether H2O is running and if not, it starts it locally. However without Sparkling Water dependencies and connection. You should just call `h2o_context(sc)` which internally calls `h2o.init()` on the r

[2019-04-24 13:56] jakubhava commented on #1121
Also, @hemanshupaliwa7 @joscani we have found the bug and fixed in the current master of Sparkling Water.

We are planning to do release soon which will have this fixed. You will need to update RSparkling to the latest version

[2019-04-25 11:46] jakubhava commented on #1121
Release will be done today, please check our download page tomorrow to get the version with fixed RSParkling & Sparkling Water

[2019-04-25 11:46] #1121 closed

[2019-04-25 12:33] hemanshupaliwa7 commented on #1121
Thanks @jakubhava ...Can you please share the download page link? If possible :)

[2019-04-25 12:48] jakubhava commented on #1121
www.h2o.ai

[2019-04-26 00:54] laurendiperna commented on #1108
@goldminer09 I made your github issue into a [JIRA](https://0xdata.atlassian.net/browse/SW-1249) Ticket so we can start tracking it. Please feel free to update the ticket if needed [here](https://0xdata.atlassian.net/browse/SW-1249). Thanks!

[2019-05-01 11:46] jakubhava commented on #1108
Closing this issue as we have JIRA. Currently testing the solution, if all good, will go to the next release. Please use the JIRA to track the progress

[2019-05-01 11:46] #1108 closed

[2019-05-03 10:20] joscani commented on #1121
Thanks @jakubhava

[2019-05-03 11:58] hemanshupaliwa7 commented on #1121
Thanks @jakubhava ..It's working now :)

[2019-05-12 09:55] sasikiran opened #1193 "Unable to create h2o_context on Databricks using R and Scala"
I'm trying to use sparkling water on Azure Databricks and I'm not able to create h2o_context. I tried this in both R and Scala on the same cluster.

R Sample code:
[code]

Scala sample code:
[code]
**Configuration details**
- Azure Databricks version: 5.3 ML (includes Apache Spark 2.4.0, Scala 2.11)
- Driver type: Standard_DS3_V2: 14.0 GB Memory, 4 Cores, 0.75 DBU
- Min workers: 2
- Max workers: 8

[2019-05-12 18:13] jakubhava commented on #1193
Hi,
 Currently, internal mode of Sparkling Water does not support auto-scaling. It’s on our long-term roadmap, however for now, please turn off auto-scaling and dynamic allocation.

Thanks,

Kuba
[https://www.dropbox.com/s/rzkinjajjoexlcn/signlogo.png?raw=1]
Jakub Háva
Senior Software Engineer
jakub.hava@h2o.ai<mailto:jakub.hava@h2o.ai>
H2O.ai, The Open Source Leader in AI and ML<http://www.h2o.ai

[2019-05-13 07:46] sasikiran commented on #1193
Hi @jakubhava, I created a new Databricks cluster without autoscaling and by setting number of workers to 4. I ran the same code in R and Scala and the same error happened.

**Databricks configuration:**
Databricks runtime: 5.3 ML (includes Apache Spark 2.4.0, Scala 2.11)
Enable autoscaling: No
Python version: 3
Worker type: Standard_DS3_v2, 14.0 GB Memory, 4 Cores, 0.75 DBU
Number of workers: 4
D

[2019-05-14 07:06] jakubhava commented on #1193
Can you please share yarn logs?

[2019-05-14 08:31] sasikiran commented on #1193
I am running this on Databricks. There is no yarn integration.

[2019-05-14 08:34] jakubhava commented on #1193
I believe this is not true. Internally, Databricks run their Spark on Hadoop as well.

What we need is full logs from executors and driver

[2019-05-14 09:21] sasikiran commented on #1193
I found these logs under spark driver logs. Are these sufficient?
**Log4j**: http://txt.do/1d0iv
**StdErr**: https://file.io/OPri5A
**StdOut**: https://file.io/G37Zar

[2019-05-15 14:22] jakubhava commented on #1193
Thank you @sasikiran, will have a look

[2019-05-15 17:09] dataspekulant opened #1200 "XGBoost in H2OGridSearch"
I'm trying to use XGBoost algorithm within H2OGridSearch plugged in Spark ML pipeline but getting following error:

`classifier = H2OGridSearch(algo=pysparkling.ml.H2OXGBoost(), hyperParameters=params)`

`...
Py4JJavaError: An error occurred while calling o198.setAlgo.
: java.lang.IllegalArgumentException: Grid Search is not supported for the specified algorithm 'H2OXGBoost_15108b19ed18'. Supporte

[2019-05-15 18:49] jakubhava commented on #1200
@dataspekulant thanks for the report!, this is a simple bug, we are doing release tomorrow, will include the fix there

[2019-05-15 18:56] jakubhava commented on #1200
Fixed with this PR https://github.com/h2oai/sparkling-water/pull/1201, will be in tomorrow's release

[2019-05-15 18:56] #1200 closed

[2019-05-15 18:58] jakubhava commented on #1193
Could you please try the nightly build from this link? We changed some internal configuration which my influence this behavior https://h2o-release.s3.amazonaws.com/sparkling-water/rel-2.4/nightly/91/index.html

Thank you!

[2019-05-16 02:27] sasikiran commented on #1193
Thanks @jakubhava. I used the nightly build on the same cluster with same code. The error remains same as well. Do you want me to share the logs again?

[2019-05-16 06:01] jakubhava commented on #1193
Oki, thank you! I think it is fine, we will think about what we can do.

[2019-05-16 12:19] dataspekulant opened #1203 "model_id parameter not available in H2OXGBoost pipeline wrapper"
Trying to define **model_id** parameter in H2OXGBoost pipeline wrapper but getting following error:

`classifier = H2OXGBoost(model_id="test", ntrees=200, eta=0.05)`

`AttributeError: 'H2OXGBoost' object has no attribute 'model_id'`

Attribute is available within h2o.estimators.H2OXGBoostEstimator.
Is it possible to add it also to pysparkling.ml.H2OXGBoost?

_Using PySparkling /2.4.10/ & H2O /3.24

[2019-05-17 16:46] dataspekulant opened #1207 "pysparkling.ml.H2OGridSearch - hyperParameters not accepted"
Trying to run simple code to test **pysparkling.ml.H2OGridSearch** inside PySpark ML pipeline and getting following error:

**_code:_**
[code]

**_error:_**
[code]

I've tried to tune various algorithm parameters (ntrees, eta, sampleRate..) but still getting same error.
Same situation when I changed algo from XGBoost to GBM.

`Using PySparkling /2.4.11/ & H2O /3.24.0.3/ on YARN-cluster mode.`

[2019-05-17 22:12] jakubhava commented on #1207
@dataspekulant please try to use `_ntrees` as the name of the hyper parameter. At this moment we are using internal named of the arguments from H2O for hyper param names, but thanks, this is definitely a good signal that we should improve this.

[2019-05-20 13:29] dataspekulant commented on #1207
Thank you for the advice. It helped.

[2019-05-22 07:49] #1207 closed

[2019-05-28 08:04] jakubhava commented on #1193
Hi @sasikiran, we have been working on a better solution. Can you please give it another try and try this nightly release? This one should do http://h2o-release.s3.amazonaws.com/sparkling-water/rel-2.4/nightly/98/index.html

[2019-05-28 08:44] sasikiran commented on #1193
Hi @jakubhava, thanks for the update. I tried it out using the new nightly build. I am getting a different error this time. I tried it in both R and Scala.

`
org.apache.spark.SparkException: Exception thrown in awaitResult:
  at org.apache.spark.util.ThreadUtils$.awaitResult(ThreadUtils.scala:355)
  at org.apache.spark.rpc.RpcTimeout.awaitResult(RpcTimeout.scala:75)
  at org.apache.spark.h2o.back

[2019-05-28 08:50] jakubhava commented on #1193
Thank you this is helpful! This is still fairly new change so we need to iterate.

However, the main error happens on the executor machines. Could you please sent us logs from the executors?

[2019-05-28 09:58] sasikiran commented on #1193
I was able to find these. Please let me know if these are good enough.

Executor 1 log: https://file.io/NZsDMH
Executor 2 log: https://file.io/kjlqAT

[2019-05-28 10:02] jakubhava commented on #1193
Thanks, I had a look inside, but did not see useful logs. I will spent some time on it and try to reproduce myself.

[2019-05-28 13:47] jakubhava commented on #1193
I created testing environment with the same configuration you have but still can't reproduce, testing using Scala with the simple code bellow:

[code]

Quick question: Are you specifying any additional spark options?

[2019-05-28 13:57] jakubhava commented on #1193
These screenshots should help with getting the right logs
<img width="1527" alt="Screen Shot 2019-05-28 at 3 55 51 PM" src="https://user-images.githubusercontent.com/4374603/58483872-50dd4500-8161-11e9-888b-d59f2c82b166.png">
<img width="1553" alt="Screen Shot 2019-05-28 at 3 55 57 PM" src="https://user-images.githubusercontent.com/4374603/58483874-520e7200-8161-11e9-9e1b-03d34166ba3f.png">

[2019-05-30 07:04] sasikiran commented on #1193
Hi @jakubhava, I think there is some conflict between databricks runtime and sparkling water. I created a new cluster and selected databricks runtime: `5.3 (includes Apache Spark 2.4.0, Scala 2.11)` and ran it. It worked. Then, I went back to my previous cluster which uses `5.3 ML (includes Apache Spark 2.4.0, Scala 2.11)` and ran the same code. It failed with `Exception thrown in awaitResult: `

[2019-05-30 07:18] jakubhava commented on #1193
Hi @sasikiran thanks so much, this information will help us with debugging!

[2019-05-30 10:46] jakubhava commented on #1193
@sasikiran just FYI: I was able to reproduce the issue

[2019-05-30 17:36] joscani opened #1229 "Lost scoreContributions"
Hi. I'm using sparkling-water inside spark and when I load a previously saved gbmModel I can't find scoreContributions method which is present in original model.

[code]
I can predict using my loaded model but I can't get scoreContribution .
is there anyway to cast model type to hex.tree.gbmModel?

Thanks in advance.

[2019-05-30 18:00] jakubhava commented on #1229
@joscani you need to specify type of the loaded model, such as

`val nuevo_modelo : Model[,_,_] = ModelSerializationSupport.loadH2OModel[hex.tree.gbmModel](destinationURI)`

[2019-05-30 22:43] joscani commented on #1229
Thanks. It was so simply. And thanks for H2O and sparkling water. I think sparkling -water is the most easy way to get a good model in production.

[2019-05-31 08:18] #1229 closed

[2019-05-31 09:13] sasikiran commented on #1193
That’s awesome.

[2019-06-01 09:35] joscani commented on #1229
I try with

[code]
But scoreContributions is not available.

[code]

[2019-06-01 10:17] joscani commented on #1229
I finally get scoreContributions using this
[code]

[2019-06-01 11:23] joscani opened #1231 "scoreContributions problem"
Hi again.
Maybe I'm just doing something wrong. I have my gbmmodel in scala api and I want to get shap values over a test h2oframe..
My code is something like that.

[code]
Then sparkling water class. It looks that scoreContributions is working but I get

[code]
And it never ends.
Any idea?
Thanks in advance

[2019-06-03 11:50] sergiocalde94 opened #1235 "Cannot test sparkling water app with Graddle"
I´m using sparkling water with scala and it works excellent in spark2-shell mode. Now I´m creating a graddle based app to build a fat jar and execute it with spark2-submit.

I added the needed dependencies to build.graddle file (the same that I used in spark2-shell mode), I´m usin spark 2.3.0

[code]

If I try to test my application it throws an error:

[code]

So I tried to add jetty util to my a

[2019-06-03 13:07] jakubhava commented on #1235
In Sparkling Water, we need are relocating a few libraries in fat jar https://github.com/h2oai/sparkling-water/blob/5b8904212f4abcce43bf8b6fa1a2d9d9a9031906/assembly/build.gradle#L32 but information about this relocation is lost when published to maven.

We are working on improving this, but in the meanwhile, you can relocate the packages yourself in your fat jar to avoid collisions

[2019-06-03 17:24] sergiocalde94 commented on #1235
Thanks for your fast reply @jakubhava,

I think that I´m doing something bad because I add these lines to my build.gradle (I´m showing only the changes betweeen my build.gradles before asking here and now):

[code]

And the problem is the same

`Exception in thread "H2O Launcher thread" java.lang.NoClassDefFoundError: org/eclipse/jetty/util/component/AggregateLifeCycle`

Am I missing something???

[2019-06-03 17:26] sergiocalde94 commented on #1235
I think that the relocate only will change my libraries, not the sparkling-water ones

[2019-06-03 22:02] BrandonRCopeland opened #1238 "as_spark_dataframe broken in R"
Hi,

I'm running into a perplexing issue.  I can convert my sparklyr table (tbl_spark) to an H20Frame, but I cannot get my data out of H2O via as_spark_dataframe.

I'm running on Databricks Release version 5.3, which leverages Spark 2.4.  I'm using RSparkling 2.4.1 per the requirements table.

I convert my tbl_spark to H2O via "hf <- as_h2o_frame(sc, sdf.scoringData)".  That works fine, and I can

[2019-06-03 22:04] BrandonRCopeland commented on #1238
Here is the tbl_spark to H2OFrame code that works: hf <- as_h2o_frame(sc, sdf.scoringData, name = "df.scores")

However, here is the H2OFrame to tbl_spark code that fails with the above error:  as_spark_dataframe(sc, hf)

[2019-06-03 22:09] BrandonRCopeland commented on #1238
Here is my cluster info:
--------------------
R is connected to the H2O cluster (in client mode):
    H2O cluster uptime:         48 minutes 42 seconds
    H2O cluster timezone:       Etc/UTC
    H2O data parsing timezone:  UTC
    H2O cluster version:        3.24.0.2
    H2O cluster version age:    1 month and 17 days
    H2O cluster name:           sparkling-water-root_app-20190603200752-0000

[2019-06-04 06:38] jakubhava commented on #1238
Hi @BrandonRCopeland, thanks for the summary. Can you please check the versions again?
For Sparkling Water and RSparkling ?

There is issue we know about that CRAN contains old RSparkling version and currently, the only way to upload RSparkling to Databrix is via CRAN. Right now we always suggest installing RSparkling from the Sparkling Water distribution http://h2o-release.s3.amazonaws.com/sparkl

[2019-06-04 07:44] jakubhava commented on #1235
Hi @sergiocalde94, can you please try this?
[code]

You can try this even without the relocation, I hope this should fix the problem. We are also testing this and we will add the fix to the next release if that works fine. Please let us know, thanks!

[2019-06-04 12:25] jakubhava commented on #767
The details from model train are now exposed via `getModelDetails()` method on `H2OMOJOModel`

[2019-06-04 12:25] #767 closed

[2019-06-04 12:26] jakubhava commented on #1203
https://0xdata.atlassian.net/browse/SW-1323

[2019-06-04 12:27] jakubhava commented on #1231
@joscani can you please share reproducible code? I'm not sure right now what is the issue

[2019-06-04 15:24] BrandonRCopeland commented on #1238
That seems to have fixed the issue.  Thanks!

[2019-06-04 15:24] #1238 closed

[2019-06-04 16:13] sergiocalde94 commented on #1235
Hi @jakubhava

I tried to add what you said but it doesn´t work :(

Finally I make it work with sparkling-water-assembly jar download directly to my libs folder and putting this line in build.gradle:

`compile files('libs/sparkling-water-assembly_2.11-2.3.28-all.jar')`

Thank you very much for your work and your replies!

[2019-06-04 20:11] jakubhava commented on #1238
Thank you! We will make sure to update the documentation. The issue is that we don't have the latest RSparkling on CRAN, but we can set up custom repository which will fix the issue. Thank you for the report!

[2019-06-04 20:14] jakubhava commented on #1235
Oki, thank you for letting us know. I put some jetty update to our current code base and it will go into the next release.

However, could you please also share your minimal reproducible gradle file? Just so we can play with it and identify where was the issue. Thanks a lot!

[2019-06-06 16:20] mn-mikke commented on #1203
Hi @dataspekulant,
`H2OXGBoost`, `H2OGLM`, `H2OGBM` and `H2ODeepLearning` algorithms will be enriched with the 'modeId' parameter in the next minor release of Sparkling Water (2.4.13).

[2019-06-06 16:20] #1203 closed

[2019-06-07 20:20] javierluraschi opened #1243 "Consider adding support for Spark pipelines in `rsparkling`"
`sparklyr` supports [Spark pipelines in R](https://blog.rstudio.com/2018/05/14/sparklyr-0-8/) but there is additional work to make them available in `rsparkling`, which would enable users to build H2O pipelines in Spark from R and them move them to production without requiring R at all.

See also: https://databricks.com/session/productionizing-h2o-models-with-apache-spark

[2019-06-08 16:53] argenisleon opened #1244 "h2o-pysparkling-2-4 2.4.12 incompatible with Spark 2.4"
- Sparkling Water/PySparkling/RSparkling version
2.4.12
- Hadoop Version & Distribution
2.7
- Are you using Windows/Linux/MAC?
Linux

I am using h2o-pysparkling-2-4 2.4.12 as requirement for https://github.com/ironmussa/optimus. But it complains about the pyspark version:

ERROR: h2o-pysparkling-2-4 2.4.12 has requirement pyspark<=2.4.0,>=2.4.0, but you'll have pyspark 2.4.1 which is incompatible.

[2019-06-09 07:15] joscani commented on #1231
Hi @jakubhava  I made a mistake. The correct way is pass a new water.key not the key of actual h2oframe
[code]

Close de Issue

[2019-06-09 07:15] #1231 closed

[2019-06-09 16:52] navdeep-G commented on #1243
@javierluraschi Do you have a working example of doing this today with `rsparkling`? What is the "additional work" in this case?

[2019-06-09 17:07] jakubhava commented on #1243
just fyi: Right now we don't expose our custom pipeline stages in Rsparkling, it's on the road map though

[2019-06-09 17:08] jakubhava commented on #1244
Hi @argenisleon thanks, we know about it and we are planning to bump supported Spark version this release. Thanks for pointing that out

[2019-06-10 06:42] jakubhava commented on #1244
@argenisleon this will be done in the next release, please use this JIRA to track the issue https://0xdata.atlassian.net/browse/SW-1327. Note that Spark 2.4.2 is not supported and that is on purpose as this particular version breaks compatibility between other minor versions in Spark 2.4.x

[2019-06-10 06:42] #1244 closed

[2019-06-10 15:16] sergiocalde94 opened #1253 "Cannot add primary key (or any column) to scoreContributions output"
Hi! I´m using score contributions in sparkling water and it works perfect except of I can´t add a primary key that I need for joining purpouses.

My code is very simple:

[code]

This throw an error:

[code]

My dataframe has 60 colums (59 predicted variables and 1 primary key), if I execute without the add statement everything goes perfect but the problem is that I haven´t the primary key.

Any i

[2019-06-10 15:50] sergiocalde94 commented on #1253
I got the solution.

I leave the code here in case it can help someone.

[code]

[2019-06-10 15:50] #1253 closed

[2019-06-10 15:52] sergiocalde94 commented on #1253
I got the solution.

I leave the code here in case it can help someone.

[code]

[2019-06-13 08:22] baank opened #1266 "RSparkling installation from source is broken"
Installation from source:
devtools::install_github("h2oai/sparkling-water", ref="master", subdir="r/src")

Produces the following error message:
[code]
Due to the following commit from @jakubhava :
https://github.com/h2oai/sparkling-water/commit/678e7ed2d7b5345e611a96bf02ca89718c27d476#diff-455fe0e750f4e51b108e12ec3ba46ca1

Specifically replacing 0.2.25 with SUBST_PROJECT_VERSION in the DESCRIPTIO

[2019-06-13 08:33] jakubhava commented on #1266
@baank yes, that is correct. It won't be no longer possible to install RSparkling from our github. You will need to install RSparkling from our S3 locations. The last releases does not contain R repo so far as this is recent change and not in the release yet, but the nightly builds will contain it from the next build. Nighties are built every night so you get the same results as with installing wi

[2019-06-13 08:33] #1266 closed

[2019-06-13 08:48] jakubhava commented on #1266
Also please note that from the next release RSparkling is tight directly to specific Sparkling Water as will be explained on the documentation.

After this change is finalized and released, you can install RSparkling as:
1) From official release
`install.packages("rsparkling", type = "source", repos = "http://h2o-release.s3.amazonaws.com/sparkling-water/rel-MAJOR_VERSION/MINOR_VERSION/R")`

So for

[2019-06-14 13:00] sergiocalde94 commented on #1235
Sorry @jakubhava !! I didn´t see it.

Finally I only added that line with your `all` jar and it worked perfect....

[2019-06-14 13:06] sergiocalde94 opened #1272 "Method close doesn´t work for H2OContext"
Hi!

I´m trying to close the H2OContext but it doesn´t work. I defined it with this:

[code]

and I try to close with `hc.stop(stopSparkContext = true)` but it throws an error:

[code]

The code is running in a spark application and launched with spark-submit, Using your doc (http://docs.h2o.ai/h2o/latest-stable/h2o-docs/faq/sparkling-water.html) I tried to use `new H2OContext().start()` but it el

[2019-06-17 11:28] jakubhava commented on #1272
Hello,
 the correct way how to create H2OContext is `val hc: H2OContext = H2OContext.getOrCreate(spark)`, the documentation you found is part of H2O and is not updated. Up-to-date Sparkling Water  is available at http://docs.h2o.ai/sparkling-water/2.4/latest-stable/doc/index.html

Can you please share your Sparkling Water version which you're trying?

[2019-06-18 07:41] sergiocalde94 commented on #1272
I´m using that method but then it throws the error, it tells that method close doesn´t exists.

I´m trying it with sparkling water 2.3.28 with spark 2.3.0 and it throws the error: `Exception in thread "main" java.lang.NoSuchMethodError: org.apache.http.impl.client.DefaultHttpClient.close()`

[2019-06-18 11:06] jakubhava commented on #1266
Nightlies have been built. To install latest RSparkling, please do:

For Spark 2.4
`install.packages("rsparkling", type = "source", repos = "http://h2o-release.s3.amazonaws.com/sparkling-water/rel-2.4/nightly/113/R")`

You can find the latest build number (in this case 133) by reading http://h2o-release.s3.amazonaws.com/sparkling-water/rel-2.4/nightly/latest.html.

If you need to install RSparklin

[2019-06-18 19:08] jakubhava commented on #1235
Just FYI: next release will include improvement in this area.

We have also `ai.h2o:sparkling-water-package_2.11:{version}` artifact published on maven, but starting from the next release, this artifact will be actually the full jar with all required sparkling water dependencies and correct shadowed libraries.

Once this is released, you can just do in your code: `compile "ai.h2o:sparkling-water-p

[2019-06-19 06:21] sergiocalde94 commented on #1235
wow perfect! Thank you very much @jakubhava great job :)

[2019-06-21 06:30] jakubhava commented on #1235
@sergiocalde94 can you our nightly build a try please? https://h2o-release.s3.amazonaws.com/sparkling-water/rel-2.3/nightly/149/index.html

See the Use from Maven instruction. Thanks!

[2019-06-21 06:31] jakubhava commented on #1272
I believe this will be related to https://github.com/h2oai/sparkling-water/issues/1235. Can you please try the nightly build as suggested on the other issue?

[2019-06-21 15:31] Gvuillier opened #1293 "Sparkling Water doesn't run on Databricks cluster"
Hi,

Following this post [https://www.h2o.ai/blog/h2os-automl-in-spark/](url) I tried to experiment using pysparkling H2OAutoML on a Databricks python notebook.

After loading a dataframe and performing some transformations, I used the following code:

[code]

However, after 3 Spark jobs performed, the fitting keeps running indefinitely, regardless of the timeout I set and without any activity on

[2019-06-21 16:47] jakubhava commented on #1293
Sparkling Water currently does not support auto-scaling ( on the road map though). Can you please disable it and try again?

[2019-06-24 17:18] Gvuillier commented on #1293
Hi Jakub,

Yes that was the issue, thanks!

I was also wondering if there was a way to get additional information on the fitted models.  H2OAutoML.fit() creates a leaderboard and returns a MOJOModel object for production, but I would like to extract the actual h2o model to apply model.varimp() and observe feature importances. Would that be feasible?

Thanks

[2019-06-24 17:22] jakubhava commented on #1293
On the fitted model from the pipeline wrapper ( such as `H2OAutoML` ) there is method called `getModelDetails()` which returns details of the fitted model in JSON. We are planning to improve the structure of this in the future so it's not just a plain JSON.

However, if you need to access the h2o model directly, in that case you can't use wrappers for Spark pipelines but H2O algos directly

[2019-06-27 06:42] jakubhava commented on #1235
Closing this issue as we have a fix. If you have any other issues with using sparkling-water-package_2.11 maven artifact, please let us know

[2019-06-27 06:42] jakubhava commented on #1272
Related to https://github.com/h2oai/sparkling-water/issues/1235 -> Closing this issue as we have a fix. If you have any other issues with using sparkling-water-package_2.11 maven artifact, please let us know

[2019-06-27 06:42] #1272 closed

[2019-06-27 08:19] sergiocalde94 commented on #1235
I tried it with the maven configuration:

[code]

But it fails at testing part :(

My code is:

[code]

And the error:

[code]

It fails when I create the h2o context from existing spark context:

[code]

Related to issue [1272](https://github.com/h2oai/sparkling-water/issues/1272) it creates the context succesfullt but it doesnt close it at the end of the procces, same error (method close doesn´t

[2019-06-27 08:20] sergiocalde94 commented on #1235
sorry @jakubhava for spending so much time to reply :(

[2019-06-27 08:26] jakubhava commented on #1235
Can you please share minimal & reproducible example? Including the code & gradle script. Thanks

[2019-06-27 08:27] jakubhava commented on #1293
Closing. If you have other issues, please let us know! Thanks

[2019-06-27 08:27] #1293 closed

[2019-06-28 11:13] sergiocalde94 commented on #1235
OK, I adapted it to ChicagoCrimeAppSmall, copying the code exactly and it throws the same error:

[code]

the code is:

[code]

and my build.gradle is:

[code]

And finally properties.gradle for build gradle variables:

[code]

Hope this can help!!

Thank you for your effor

[2019-06-29 20:26] maziyarpanahi opened #1311 "java.lang.NullPointerException in hamOrSpamMultiAlgo"
- Sparkling Water/PySparkling/RSparkling version
Spark 2.4.0-cdh6.2.0
ai.h2o:sparkling-water-package_2.11:2.4.13
- Hadoop Version & Distribution
Cloudera 6.2.0
- Execution mode `YARN-client`, `YARN-cluster`, standalone, local ..
YARN-client
- YARN logs in case of running on yarn. To collect such logs you may run `yarn logs -applicationId <application ID>` where the application ID is displayed when

[2019-07-01 06:26] haitaodd opened #1312 "Any plans to support k8s?"

[2019-07-01 07:28] jakubhava commented on #1312
Sparkling Water runs in Spark environment which can already run in Kubernetes environment. So As long your Spark is set up to run in Kubernetes environment, Sparkling water in internal backend mode will run as well.

We are still working on a documentation on out side etc so this is more transparent

[2019-07-01 07:28] #1312 closed

[2019-07-01 10:59] jakubhava commented on #1311
Thanks @maziyarpanahi for the report. We have been working on improving the parsing of the model details and my colleague is working on long-term improvements in the H2O package.

For now I will create a fix on Sparkling Water side which will be available in the next release.

Thanks for the report!

[2019-07-01 11:01] jakubhava commented on #1311
Here's the JIRA to track the progress https://0xdata.atlassian.net/browse/SW-1390

[2019-07-01 11:04] #1311 closed

[2019-07-01 12:40] jakubhava commented on #1235
Thanks, this is still fairly large piece of code -> could you please create a minimal reproducible code?

I mean code which for example just calls the problematic `h2oContext.stop()` method, with minimal set of dependencies in gradle and instructions on how to build & execute the code? I want to be sure I will be testing with the same setup you have.

That would help significantly. Thanks!

[2019-07-08 12:39] parusss commented on #629
https://github.com/h2oai/sparkling-water/blob/master/doc/DEVEL.rst
Link is broken

[2019-07-08 12:41] jakubhava commented on #629
Yes, removed on purpose. Please refer to our official documentation accessible from the links at the top of our README https://github.com/h2oai/sparkling-water

[2019-07-11 07:25] jakubhava commented on #918
@mn-mikke I think this is related to our discussion about classification/regression problems

[2019-07-20 18:56] bharatbargujar opened #1357 "Not able initiate H2OContext on databricks , pysparkling"
Hi Team,

I am trying create H2OContext in python note book on databricks cluster. Following is my environment specs:

Databricks runtime environment: 5.3
Spark = 2.4
Python =  3.5
colorama >= 0.3.8
h2o-pysparkling-2.4

I am writing following code
`
from pysparkling import *

from pyspark.sql import SparkSession

import h2o

spark = SparkSession.builder.appName("SparklingWaterApp").getOrCreate()

[2019-07-20 22:55] bharatbargujar commented on #1357
Hi Team,

I have restarted the cluster and now I am getting following different error:

`java.util.ServiceConfigurationError: water.api.Schema: Provider water.automl.api.schemas3.AutoMLBuildSpecV99$AutoMLStoppingCriteriaV99 could not be instantiated
---------------------------------------------------------------------------
Py4JJavaError                             Traceback (most recent call last

[2019-07-28 03:47] danielhanbitlee opened #1383 "Not able to initiate H2OContext on Windows 10, pysparkling"
I'm trying to use pysparkling on my system and I'm getting a py4j.protocol.Py4JError.

System I'm using:

 - Windows 10
 - Python 3.6.1
 - Anaconda 4.4.0
 - pyspark 2.4.3
 - h2o
 - h2o-pysparkling-2.4

I followed instructions on [h2o website](https://h2o-release.s3.amazonaws.com/sparkling-water/rel-2.4/10/doc/pysparkling.html#what-is-pysparkling) and downloaded and unpacked sparkling-water from [h

[2019-08-02 09:03] jakubhava commented on #1357
Do you have any additional Sparkling Water libraries, version attached to the cluster?

[2019-08-09 09:56] Rize1391 opened #1425 "h2o-pysparkling-2.4-Error when starting an `H2OContext`"
I am trying to run h2o-pysparkling-2.4 on a Azure Databricks environment.
The cluster config is
Runtime version - 5.4 ML (includes Apache Spark 2.4.3, Scala 2.11)
Python version - 3
Standard_DS14_v2 - 10 workers
Standard_DS13_v2 - 1 Driver

The steps I followed are,
1) Create a Databricks library using H2O's PySparkling module from PyPI. Use the module appropriate for your Spark version:
h2o-pyspa

[2019-08-09 10:06] jakubhava commented on #1425
Duplicate of https://github.com/h2oai/sparkling-water/issues/1193, Sparkling Water does not support ML machine types at this moment

[2019-08-09 10:06] #1425 closed

[2019-08-09 10:12] Rize1391 commented on #1425
@jakubhava - Thank you for the quick turnaround...appreciate it.

[2019-08-14 08:35] jakubhava commented on #918
Starting from the next release, the predicted label will be stored in the column set by `setPredictionCol` and all the other details from predictions, such as probabilities will be available on the column set by `setDetailedPredictionCol`. The generation of the detailed prediction column is disabled by default and can be enabled as `withDetailedPredictionCol`

[2019-08-14 08:53] jakubhava commented on #1357
We had seem this issue in Databricks which was caused by multiple Sparkling Water libraries, of different versions, attached to the same cluster. We always need to make sure that we use the same versions of Sparkling Water artifacts ( Sparkling Water/PySparkling).

Next Sparkling Water release 3.26.3 contains detection mechanism for this and throws an exception if we discover that artifacts from d

[2019-08-14 08:53] #1357 closed

[2019-08-16 00:11] ssoftcheck opened #1445 "sparkling water external backend hangs on spark to h2o transfer"
When transferring spark dataframe to h2o frame on external backend, the python (or scala) interpreter hangs. The data loads into H2o though, it is visible through flow ui but describe hangs there. This problem does not occur in internal backend.

[code]
sparkling water 3.26.0
spark 2.3
hadoop 2.7
yarn client
hadoop manual external backend
hadoop jar $H2O_EXTENDED_JAR -Dmapreduce.job.queuename=x -j

[2019-08-16 06:58] jakubhava commented on #1445
Thank you for report @ssoftcheck. Can you please send us YARN logs as well for both the Spark and H2O applications? The application IDS are printed out after the `getOrCreate(spark, conf)` call

[2019-08-16 07:00] jakubhava commented on #1383
@danielhanbitlee is this intermittent issue or demetermistic? Is your PySpark application starting fine without Sparkling Water?

[2019-08-16 07:01] GlockGao opened #1446 "H2OContext.getOrCreate() error on CDH"
- When trying to start H2OContext on CDSW (Cloudera Data Science Workbench).
Command is : **spark2-submit pysparkling_test.py**
I got the following error: It repeatedly print the logs..
19/08/16 06:57:32 INFO spark.SparkContext: Added JAR /home/cdsw/.local/lib/python2.7/site-packages/sparkling_water/sparkling_water_assembly.jar at spark://10.156.4.64:24583/jars/sparkling_water_assembl
y.jar with t

[2019-08-16 07:05] jakubhava commented on #1446
@GlockGao What exactly is the issue? The are no signs of errors in the logs

[2019-08-16 07:15] GlockGao commented on #1446
Actually, the code paste here is just a test - start session and then stop the session.
The real purpose is using 'H2OXGBoost' for model building.

1. for "spark2-submit --master local[2] pysparkling_test.py", there has an exception:"IP address not found on this machine" that cause session shutdown.
2. for "spark2-submit pysparkling_test.py", it always print logs without stopping.  H2OContext.getO

[2019-08-16 07:16] jakubhava commented on #1446
Please run the code without
[code]

[2019-08-16 07:35] GlockGao commented on #1446
Thanks.
[sparkling.zip](https://github.com/h2oai/sparkling-water/files/3508511/sparkling.zip)

Attached.

The command is : "spark2-submit pysparkling_test.py "

[2019-08-16 07:38] jakubhava commented on #1446
I see in the logs `19/08/16 17:20:18 INFO util.Utils: Successfully started service 'sparkling-water-h2o-start-618' on port 35266.
` and still no other mentions of the errors.

What is the full code you are trying to run please? Can you please point me to exact line on your code and failure?

[2019-08-16 15:02] ssoftcheck commented on #1445
[logs.zip](https://github.com/h2oai/sparkling-water/files/3510080/logs.zip)

[2019-08-19 07:21] jakubhava commented on #1445
@ssoftcheck thanks for the logs, I was looking in them and could not find anything interesting.

Few questions:
 - Is the behaviour reproducible?
 - Can you reproduce on small number of external H2O nodes, such as 1?
 - What shape does your data have?
- What environment are you running in? CDH/HDP ?

Thanks, Kuba

[2019-08-19 07:29] jakubhava commented on #1235
Feel free to re-open with the minimal reproducible code & we can have a look. Thanks!

[2019-08-19 07:29] #1235 closed

[2019-08-19 14:05] jakubhava commented on #626
https://0xdata.atlassian.net/browse/PUBDEV-6802 will avoid issues with the write confirmation timeouts

[2019-08-19 14:05] #626 closed

[2019-08-19 15:37] Tagar commented on #626
thank you for the update @jakubhava

[2019-08-20 04:41] ssoftcheck commented on #1445
- Is the behaviour reproducible?
  - Yes, in fact I wasn't sure if i had the correct log saved so started a new session and got the same result
- Can you reproduce on small number of external H2O nodes, such as 1?
  - Yes, still occurs with 1 node
- What shape does your data have?
  - about 1.2M x 19000, H2O stores it at 6 GB
- What environment are you running in? CDH/HDP ?
  - HDP

[2019-08-20 13:00] ramkrishnan8994 opened #1453 "Connecting to H2O External Cluster from Jupyter/Spark Standalone failing"
I'm using "h2odriver-sw2.4.3-extended.jar" to create an External Standalone H2O Cluster.
From jupyter, I'm trying to connect to the Cluster. Jupyter runs on Spark Standalone Cluster.
@jakubhava
[code]

**The whole setup is in a Kubernetes environment with Spark standalone**. The application NEVER once got connected to the external H2O cluster.

These are the issues we've faced:

**H2O Logs say tha

[2019-08-20 13:02] jakubhava commented on #1453
Please try on the latest Sparkling Water for your environment and let us know, thanks

[2019-08-20 13:04] ramkrishnan8994 commented on #1453
@jakubhava - Why

[2019-08-20 13:05] ramkrishnan8994 commented on #1453
@jakubhava - What is different in the new version. Why and how would it solve the issues?

[2019-08-20 13:06] jakubhava commented on #1453
The version you are trying is 12 releases old, since then, several bug fixes has been done on all fronts. I want to first try on the latest release before digging deeper. Thanks for respecting that

[2019-08-20 13:39] ramkrishnan8994 commented on #1453
The latest file downloaded from - https://s3.amazonaws.com/h2o-release/sparkling-water/spark-2.4/3.26.2-2.4/sparkling-water-3.26.2-2.4.zip, throws the following error when I run :

[code]

[2019-08-21 05:37] jakubhava commented on #1453
You hit a bug, will be fixed asap https://github.com/h2oai/sparkling-water/pull/1454

In the meanwhile, please download this extended jar from https://h2o-release.s3.amazonaws.com/sparkling-water/spark-2.4/3.26.2-2.4/extended/h2odriver-3.26.0.2-extended.jar

[2019-08-21 07:22] JonLeeCSDN opened #1456 "I can't understand that Create Spark context which will drive computation"
I did the exercises based on the examples on this website(https://github.com/h2oai/sparkling-water/blob/master/examples/src/main/scala/org/apache/spark/examples/h2o/DeepLearningDemo.scala).
maven:
`    <dependency>
        <groupId>ai.h2o</groupId>
        <artifactId>sparkling-water-examples_2.11</artifactId>
        <version>3.26.2-2.4</version>
    </dependency>`
however,in our code configure w

[2019-08-21 07:32] mostafaRifi commented on #735
same problem on linux server

[2019-08-21 07:33] jakubhava commented on #735
Please share with us the minimal reproducible example, thanks!

[2019-08-21 07:46] mostafaRifi commented on #735
It's the same output than @heeseonhan, I find the solution in h2o google group

Stop/quit the session and restart all :)

[2019-08-21 10:57] jakubhava commented on #1445
Ok, thanks. Could you please sent us also the configuration you apply to your Sparkling Water & External H2O & ideally minimal reproducible code as well? Thanks

[2019-08-21 14:52] smschauhan commented on #1453
@jakubhava, it's great to see how far H2o has evolved from the initial days interacting with Satish. Your help in getting these issues resolved is appreciated.

[2019-08-21 21:15] mmoselerhcfs commented on #1445
We are having the exact same problem, it hangs repeatedly with an external backend using R/sparklyr application to communicate with H2O on the as_h2o_frame call.  There is nothing in the logs that indicate an error/issue and I still see in the debug log that the client is still connected on four H2O server nodes.

[2019-08-22 02:02] GlockGao commented on #1446
Hi Jakubhava,

Thanks very much for your help.
I have some investigation about the issue. It is very similar like issue:Sparkling Water fails to create h2oContext in simple spark project #466

I did the several tests:
(1) Download just standalone H2O from the following link - http://h2o-release.s3.amazonaws.com/h2o/rel-weierstrass/7/index.html, and **start H2O successfully**.

(2) use command:"spa

[2019-08-22 05:28] GlockGao commented on #1446
Hi Jakubhava,

Another question is, if we want to run sparkling water (we use python) on CDH (client or cluster mode), we should install h2o_sparlking_version package on all the cluster worker nodes?

Thanks very much!

Cheers

[2019-08-22 06:31] jakubhava commented on #1456
@JonLeeCSDN can I suggest using sparkling-water-package_2.11:3.26.2-2.4 as a maven dependency? This package has all sparkling water & h2o dependencies included and the ones which often conflict with other environments are shaded.

Regarding your error -> the method configure is available in `water.support.SparkContextSupport` object. you need to import it first

[2019-08-22 06:41] jakubhava commented on #1446
I see, thanks for the explanation!

regarding the `IP not found error` we have seen something similar earlier on the similar environment. Can you please pass the following configuration to your spark job? `--conf spark.ext.h2o.client.network.mask=10.10.0.1/24`

where instead of `10.10.0.1/24` please specify network where your job will be running. This will force H2O to use the network interface.

[2019-08-22 07:35] ramkrishnan8994 commented on #1453
@jakubhava - When will this get resolved?
I'm still getting a 404 -
`File not found: https://h2o-release.s3.amazonaws.com/sparkling-water/rel-3.26/2-2/extended/h2odriver-3.26.0.2-extended.jar`

[2019-08-22 07:36] jakubhava commented on #1453
For now, pls download from https://h2o-release.s3.amazonaws.com/sparkling-water/spark-2.4/3.26.2-2.4/extended/h2odriver-3.26.0.2-extended.jar the script will be fixed in the next relase

[2019-08-22 08:45] GlockGao commented on #1446
Hi,

Thanks very much for your help.
After I configured 'spark.ext.h2o.client.network.mask', I can run the code successfully with local mode.
But there still has problem with 'client' mode and raised the exception :"java.lang.RuntimeException: Cloud size 0 under 1".
I used the default backend - internal mode.

BTW, Still in the code  "hc = H2OContext.getOrCreate(spark, conf=h2oConf)"

Cheers,

[2019-08-22 08:46] jakubhava commented on #1446
Can you please also apply `spark.ext.h2o.node.network.mask` with the same network settings( if the worker nodes are running in the same network). That will help also worker node with the selection of network interface

[2019-08-22 09:06] GlockGao commented on #1446
Hi,

Thanks very much!

Sorry, I have no resource to run the spark job now.
I will do the test tomorrow and let you know the results.

Cheers,

[2019-08-22 09:11] ramkrishnan8994 commented on #1453
@jakubhava - There still seems to be an issue. This is how the whole setup is.
I've setup an External Cluster hosted on K8s environment and it is up. I can see the Cluster UI as well.
From jupyter, I'm trying to connect to the external cluster :
[code]
The External cluster logs show the following -
**#P-Accept INFO: New (possible) client found, timestamp=-19590**

But, in the end the following err

[2019-08-22 09:53] GlockGao commented on #1446
Hi,

I'm not sure whether it is configured properly. All the workers node IP is 10.156.4.*/24, then I set 'spark.ext.h2o.node.network.mask=10.156.4.0/24', but encounter the same error.

After that, I changed a little about configuration:
  'spark.executor.instances' : '2' -> '10'
  'spark.ececutor.memory', '24G'
  'spark.driver.memory', '8G'

but with different error. The full trace is below (Sorr

[2019-08-22 10:31] GlockGao commented on #1446
Hi Jakubhava,

Thanks.

There has question about resource allocation.
Below are all my configurations:
h2oConf = H2OConf(spark)\
  .set('spark.ui.enabled', 'false')\
  .set('spark.ext.h2o.fail.on.unsupported.spark.param', 'false')\
  .set('spark.dynamicAllocation.enabled', 'false')\
  .set('spark.ext.h2o.client.network.mask', '100.66.0.7/24')\
  .set('spark.ext.h2o.node.network.mask', '10.156.4.0/

[2019-08-22 13:24] ramkrishnan8994 commented on #1453
@jakubhava - Can you please tell my why exactly does this error pop up -
[code]
We've seen this error come up in multiple places. Even while using Internal Cluster.

[2019-08-22 13:42] mmoselerhcfs commented on #1445
It looks like this may be a regression in SW 3.26.2-2.4/H2O 3.26.0.2.  So far in our testing, reverting back to SW 2.4.13/H2O 3.24.0.5 seems to be working fine with the exact same configuration and code.

[2019-08-22 18:01] jakubhava commented on #1453
This means that the h2o client could not discover the rest of the worker nodes. Could you please send us complete YARN logs of the both spark application and external h2o cluster? Ideally in the minimal scenario and debug logs enabled. Thank you for helping with this!

[2019-08-22 18:03] jakubhava commented on #1446
@GlockGao thanks, we have some progress! Could you please send us the complete YARN logs? From the last message I can see that the timeout for starting the worker node has been reached and in the logs I can see what prevented the worker node to start.

Thank you!

Kuba

[2019-08-22 18:06] jakubhava commented on #1445
@mmoselerhcfs could you please send us yarn logs from the working version & the latest version? I would like to see if there are any differences. Thanks

[2019-08-22 19:59] ssoftcheck commented on #1445
I can't remember if these values are exactly what i used with my yarn logs as i have been experimenting, and it has not worked on many configurations regarding executor counts and sizes
[code]

[2019-08-23 02:05] GlockGao commented on #1446
Hi Kuba,

I checked the log, it seems has OOM issue. The exception is below:
19/08/23 01:20:52 INFO scheduler.DAGScheduler: Executor lost: 19 (epoch 3)
19/08/23 01:20:52 INFO storage.BlockManagerMasterEndpoint: Trying to remove executor 19 from BlockManagerMaster.
19/08/23 01:20:52 INFO storage.BlockManagerMasterEndpoint: Removing block manager BlockManagerId(19, aup7725s.unix.anz, 36525, None)
19

[2019-08-23 05:11] GlockGao commented on #1446
Hi Kuba,

Thanks very much in advanced!

In the meanwhile, I have other two questions: They are similar dependencies distribute issue.
1. We plan to submit the sparkling water job on the edge node with client or cluster mode. But currently we cannot install relevant sparkling python packages on both edge node and cluster data nodes.
Here is my proposed solution, is that possible?
(1) Install the s

[2019-08-23 05:15] jakubhava commented on #1446
Yup, it's OOM -> `08-23 11:19:55.978 10.156.4.82:54321     35683  #t-loop-7 INFO: Java heap maxMemory: 910.5 MB
` Java heap is less then 1 GB which is really small.

Regarding the distribution. If you use `--py-files`, than you should be fine as it distributes the dependencies to the whole cluster. I also suggest not to try to manually install and zip the package but instead download the official

[2019-08-23 05:41] GlockGao commented on #1446
Hi Cuba,

For distribution issue, maybe I didn't get the right way to go.
It seems I didn't distribute the dependency well. I submit the job on edge node.

1. client mode:
`spark2-submit --deploy-mode client --py-files sparkling-water-2.2.10.zip pysparkling_xgboost_test.py`
The error is below:
Traceback (most recent call last):
  File "/var/tmp/gaoy8/pysparkling_xgboost_test.py", line 5, in <modul

[2019-08-23 05:43] jakubhava commented on #1446
Please give it a try with official pysparkling zip file downloaded from here https://www.h2o.ai/download/#sparkling-water ( Instructions are on the download page on the PySparkling tab)

[2019-08-23 06:06] ramkrishnan8994 commented on #1453
@jakubhava - The H2O Cluster we've setup is on a Kubernetes environment. It's one single instance for now which has resources allocated to it.
This is a statefulset in K8s. The command to start the instance we've used is -
`java -jar h2odriver-3.26.0.2-extended.jar -name g101-h2o-ds -ip $(MY_POD_IP)`
Ideally, if we scale the statefulset to more pods, they should associate themselves with the H2O c

[2019-08-23 06:27] GlockGao commented on #1446
Hi

I downloaded sparkling-water-3.26.2-2.3.zip from https://www.h2o.ai/download/#sparkling-water.

I got the same errors:(
[code]

with the following commands:
`PYTHONPATH=sparkling-water-3.26.2-2.3.zip:$PYTHONPATH spark2-submit --deploy-mode client --py-files sparkling-water-3.26.2-2.3.zip pysparkling_xgboost_test.py`
or
`spark2-submit --deploy-mode client --py-files sparkling-water-3.26.2-2.3.z

[2019-08-23 09:54] GlockGao commented on #1446
Hi,

Thanks very much.

I unzip the the 'h2o_pysparkling_2.3-3.26.2-2.3.zip' in 'sparkling-water-3.26.2-2.3.zip' and execute the following command:
`spark2-submit --master local[*] --py-files h2o_pysparkling_2.3-3.26.2-2.3.zip pysparkling_xgboost_test.py`

Still failure but with different error: Do you have any ideas?
fb2c5a13/sparkling-water-3.26.2-2.3.zip
Traceback (most recent call last):
  Fil

[2019-08-23 10:00] jakubhava commented on #1446
@GlockGao Yes, previously, you were putting on --py-files the wrong file. You need to extract the pysparkling zip file from the distribution. The last exception just says that you don't have installed python dependencies for PySparkling. The dependencies have to be installed on each node of the cluster as well or passed to --py-files  as well. See the list of dependencies on the PySparkling docs h

[2019-08-24 08:12] ramkrishnan8994 commented on #1453
@jakubhava -
Is there an issue setting up a H2O Cluster in Kubernetes -
https://stackoverflow.com/questions/43109777/h2o-in-kubernetes/57622143#57622143

[2019-08-24 08:15] ramkrishnan8994 commented on #1453
@jakubhava -
H2O does not follow a Master-Slave architecture from what I see. So why is it looking for "worker nodes" ?
If I have a H2OCluster that has one node with say 3 cores and 20GB RAM, isnt that sufficient to connect to from outside? Do I need to have a multi node cluster?

[2019-08-26 06:57] jakubhava commented on #1383
@danielhanbitlee closing this issue as there is no input. Feel free to re-open if you would like to continue verifying this.

[2019-08-26 06:57] #1383 closed

[2019-08-26 09:02] GlockGao commented on #1446
Hi Cuba,

Thanks very much for your support!!

Finally I can run the sparkling water in the local mode on edge node (even modify the source code of 'future' package).

But there still have problems when client or cluster mode.

1. Sometimes, it seems H2OContext.getOrCreate() is successful. The logs are below:
[code]
2. But most common error is H2OContext.getOrCreate() failure. The whole logs are b

[2019-08-26 09:50] GlockGao commented on #1446
Hi Cuba,

After the configuration : I can run the sparkling job with client mode.
[code]

But during context close process, it still raise some exceptions:
[code]
Cheers,

[2019-08-28 02:24] S-C-H opened #1474 "Classification Prediction Column (no obvious mapping of classes)"
The Prediction Column for the Classification algorithm returns the probabilities for each of the classes. How can I determine which class the numbers (which go upwards from 0) belong to? Do I need to map each to a 0 to n classes index? And is their a guarantee that this will be the correct index in the prediction array given these will need to be passed as a string to be recognized as a classifica

[2019-08-28 07:23] GlockGao commented on #1446
Hi Cuba,

Thanks very much for your support.
Eventually I can submit sparkling job successfully.

Cheers

[2019-08-28 07:23] #1446 closed

[2019-08-28 21:37] jakubhava commented on #1456
Closing the issue. Please re-open if you still have any troubles.

[2019-08-28 21:37] #1456 closed

[2019-08-29 10:46] Rize1391 opened #1490 "h2o-pysparkling-2.4 | Error when initializing a H2oContext"
Hello Team,

I am trying to run h2o-pysparkling-2.4 on a Azure Databricks environment.
The cluster config is
Runtime version - 5.5 LTS or 5.3 (includes Apache Spark 2.4.3, Scala 2.11)
Python version - 3
Standard_D32s_v3 - 10 workers
Standard_DS13_v2 - 1 Driver
colorama = 0.3.8 package installed

Note: There are no other pysparkling libraries installed.

and ran the below code,

from pysparkling im

[2019-08-29 10:54] jakubhava commented on #1490
@Rize1391 can you please share screenshot of the attached libraries? Can you please also give us the exact version of Pysparkling you are using? You can run

[code]

[2019-08-29 11:00] Rize1391 commented on #1490
@jakubhava
![Libraries](https://user-images.githubusercontent.com/20426123/63934986-2c537a80-ca7a-11e9-947d-821ea4347a60.PNG)

Added the screenshot of the libraries.

pysparkling version - '3.26.3-2.4'

[2019-08-29 11:01] jakubhava commented on #1490
Can you remove the `h2o` package ? It is already bundled inside PySparkling of the correct version. Could you also share with us the full stacktrace of the error?

Thanks, Kuba

[2019-08-29 11:23] MrHadgehog commented on #1193
Hi, @jakubhava do you have any workarounds or recommendations on this issue?

[2019-08-29 11:24] jakubhava commented on #1193
Adding @honzasterba as I discussed that with  him. Do you please remember the issue with XGBoost conflicts we discussed on Slack?

[2019-08-29 11:28] honzasterba commented on #1193
I think this was caused by there being two xgboost jars on the classpath - one from h2o and one from another library, this caused various issues with xgboost classes being present twice.

[2019-08-29 11:29] jakubhava commented on #1193
Yup, exactly. Do you have any workaround on your mind?

[2019-08-29 11:57] honzasterba commented on #1193
1) figure out where the second xgboost is coming from and if you can somehow prevent it from getting on the classpath
2) if not than we will have fix it on our side (by package-rename or something similar)

[2019-08-29 12:11] MrHadgehog commented on #1193
I see, thank you.

One more question, which versions of spark and scala where used for sparkling water latest release? It seems, that I've found the issue with xgboost and fixed it, but now I've faced some issues with compiler.

I'm using spark 2.4.3 with scala 2.11.12 on win10 x64 with hadoop 2.7.1 via winutils. Should I create new issue on this problem?

`java.lang.NoClassDefFoundError: scala/to

[2019-08-29 12:13] jakubhava commented on #1193
Yes, please create a new issue for this one, thanks

[2019-08-29 12:31] Rize1391 commented on #1490
@jakubhava
Uninstalling H2o helped, and I am able to setup a H2o cluster.
Just a quick qs, I have a 10 node cluster, why has H2o created a 5 node clsuter?

Connecting to H2O server at http://10.156.139.4:54323 ... successful.
--------------------------  ---------------------------------------------------
H2O cluster uptime:         19 secs
H2O cluster timezone:       Etc/UTC
H2O data parsing timez

[2019-08-29 12:32] jakubhava commented on #1490
Do you have auto-scaling enabled? Sparkling Water does not support auto scaling at this moment

[2019-08-29 12:50] MrHadgehog opened #1491 "[SW v.3.26.2-2.4] unable to start a cluster"
I've tried to start sparkling water inside of existing spark session but recevied the error `java.lang.NoClassDefFoundError: scala/tools/nsc/interpreter/InteractiveReader`
`Caused by: java.lang.ClassNotFoundException: scala.tools.nsc.interpreter.InteractiveReader`

- Sparkling Water: 3.26.2-2.4 (using via sbt)
- Hadoop Version & Distribution: 2.7.1 with winutils
- Scala version 2.11.12
- local sta

[2019-08-29 12:52] jakubhava commented on #1491
Thanks for the report @MrHadgehog .

Just quick question, for which Scala version is your Spark build? 2.10, 2.11 or 2.12 ?

Thanks, Kuba

[2019-08-29 12:53] MrHadgehog commented on #1491
Spark is prebuild for Scala 2.11 and hadoop 2.7 and later

[2019-08-29 13:18] Rize1391 commented on #1490
Oh no, auto scaling is not enabled, as I had seen earlier posts that autoscaling is part of the long term roadmap.

[2019-08-31 08:49] ramkrishnan8994 commented on #1453
[code]

I'm getting this error even on an Internal Backend. Can you please explain how that happens?

[2019-09-04 18:17] jakubhava commented on #1474
We are iterating towards improving this. For start, this PR which will be in next major release prepares the code for additional changes https://github.com/h2oai/sparkling-water/pull/1508/files

[2019-09-05 13:45] jakubhava commented on #918
Starting from the next major release, the `prediction` column will contain directly the predicted label thanks to this PR https://github.com/h2oai/sparkling-water/pull/1508

[2019-09-18 10:18] haiyuni opened #1535 "pysparkling deploy"
File "/mnt/yarn/usercache/hadoop/appcache/application_1568798387424_0005/container_1568798387424_0005_01_000001/PY3/ml_h2o/lib/python3.6/site-packages/ai/h2o/sparkling/H2OContext.py", line 180, in getOrCreate
    jhc = jvm.org.apache.spark.h2o.JavaH2OContext.getOrCreate(jspark_session, selected_conf._jconf)
  File "/mnt/yarn/usercache/hadoop/appcache/application_1568798387424_0005/container_156879

[2019-10-17 16:49] alwils commented on #1357
@jakubhava I'm having the exact same issue. I followed the DataBricks instructions [here ](https://docs.databricks.com/applications/machine-learning/third-party/index.html#h2o-sparkling-water-python) exactly, using a cluster with DataBricks 6.1 ML Beta Runtime and one Standard_NC6s_v3 (beta) worker.

I only have one installed library on the cluster (h2o_pysparkling_2.4).

Thanks,

[2019-10-17 16:59] alwils commented on #1357
I just switched to DataBricks Runtime 5.5 LTS (includes Apache Spark 2.4.3, GPU, Scala 2.11) and it works now.

[2019-10-22 10:41] lmcrazy opened #1576 "the spark water can not connected to the H2O cluster"
Hi,I want to use sparking water and H2O for data exchange.
I use external model and my env is :

(1)spark 2.2.0
(2)sparking water 2.2
(3)hadoop CDH.5.10 hadoop 2.6
(4)Execution mode  `YARN-cluster`

The program is printed as follows

'''Sparkling Water Context:
 * Sparkling Water Version: 2.2.42
 * H2O name: mlp
 * cluster size: 1
 * list of used nodes:
  (executorId, host, port)
  (0,172.16.161.1

[2019-10-22 11:00] mn-mikke commented on #1576
Any chance to upgrade Sparkling Water to `3.26.8-2.2` on your side? If the upgrade doesn't help can you send  us full yarn logs? `yarn logs -applicationID <application ID>`

[2019-10-22 15:45] lmcrazy commented on #1576
@mn-mikke thanks.
I upgrade Sparkling Water to 3.26.8-2.2 and download extended H2O driver for Kluster mode,use ./get-extended-h2o.sh cdh5.10. Get the h2odriver-sw3.26.8-2-cdh5.10-extended.jar.,then run this package on yarn, cmd is  nohup hadoop jar h2odriver-sw3.26.8-2-cdh5.10-extended.jar -jobname mlp -nodes 1 -mapperXmx 6g >h2ocluster1.txt 2>&1 &.

Now my operating environment is as follows:
(1

[2019-10-23 04:08] lmcrazy commented on #1576
@mn-mikke **When I set the client's log level to debug, output these logs**
`
(base) [root@graph3 spark2_client]# bin/spark-submit --master yarn --deploy-mode client --jars /opt/sparkling-water-3.26.8-2.2/assembly/build/libs/sparkling-water-assembly_2.11-3.26.8-2.2-all.jar --executor-memory 2g --driver-memory 1g --num-executors 1 --class com.yoyosys.sparkling.demo.App /opt/packages/h2o_sparkingwat

[2019-11-05 07:21] uzair4520 opened #1593 "Details: ERRR on field: XGBoost: XGBoost is not available on all nodes"
I am trying to use H2O XGBoost model with my pyspark pipeline but i am getting below mentioned exception. I have pip installed following libs for using H2O model with pyspark.

Libs:
 h2o_pysparkling_2.4
h2o
sparkling

Exception:

water.exceptions.H2OModelBuilderIllegalArgumentException: Illegal argument(s) for XGBoost model: XGBoost_model_1572937136323_1.  Details: ERRR on field: XGBoost: XGBoost

[2019-11-11 17:29] ananbas opened #1610 "h2o cluster created, but H2O context hasn't been started successfully"
Cluster: CDH 5.14
execute sparkling using:
[code]

Output:
[code]

Log attached.
[h2o_10.30.225.202_54321-3-info.log](https://github.com/h2oai/sparkling-water/files/3832512/h2o_10.30.225.202_54321-3-info.log)

[2019-11-13 14:42] novan-p-simanjuntak opened #1615 "Sparkling Water AutoML validation frame and leaderboard frame"
Hi, I am new to H2O.
In h2o-3 AutoML [docs](http://docs.h2o.ai/h2o/latest-stable/h2o-docs/automl.html), I can set validation and leaderboard frame.
Can I do it in Sparkling water AutoML?
I can not find it in the [documentation](http://docs.h2o.ai/sparkling-water/2.4/latest-stable/doc/tutorials/sw_automl.html).

My env is:
1. Spark 2.4.4 Local mode
2. sparking water 3.26.0.10

Thank you.

[2019-11-14 19:25] dataspekulant opened #1617 "External Backend - Auto mode - version mismatch"
Hi,

In **Sparkling Water** I'm trying to use **Auto mode** within **External Backend** on **YARN**.
To obtain **extended H2O driver** I've used **get-extended-h2o.sh** script with value **cdh5.13** as a parameter.

Afterwards I'm getting following error:
`The external H2O cluster ... is of version 3.24.0.2 but Sparkling Water is using version of H2O 3.26.0.8. Please make sure to use the correspon

[2019-11-14 19:42] jakubhava commented on #1617
@dataspekulant thanks for report.

Quick question -> how did you obtain the sparkling water distribution? Can you pls share the URL? Thanks!

[2019-11-14 19:57] dataspekulant commented on #1617
Sure. I've downloaded it via:
`https://pypi.org/project/h2o-pysparkling-2.4/`

[2019-11-14 20:09] jakubhava commented on #1617
Can I suggest download sparkling water from https://www.h2o.ai/download/#sparkling-water ? Here you download the full distribution package. PyPi is intended as artifacts which are easy to get for internal backend at this moment

[2019-11-15 10:25] dataspekulant commented on #1617
OK, I've installed Sparkling water directly from https://www.h2o.ai/download/#sparkling-water instead from PyPi.
Still getting same kind of error: `The external H2O cluster ... is of version 3.24.0.2 but Sparkling Water is using version of H2O 3.26.0.10. Please make sure to use the corresponding extended H2O JAR.`

[2019-11-15 12:16] dataspekulant commented on #1617
Thank you. Now after running **get-extended-h2o.sh** it has downloaded the correct version of extended H2O driver.

[2019-11-17 16:57] jakubhava commented on #1593
@honzasterba do you think that is something on our side? H2O should bundle XGboost, shouldn't it?

[2019-11-17 17:57] honzasterba commented on #1593
Yes, XGBoost is bundled with H2O. This message means that H2O was unable to load the XGBoost native library. The usualy cause for this is missing dynamically linked dependencies, most frequently libgomp.

[2019-11-18 13:29] #1617 closed

[2019-12-05 08:39] tianangthang7 opened #1666 "ClassNotFoundException"
Hi! I can not run an example of Sparkling water. Plz help me.

/sparkling-water-3.26.10-2.4$ bash spark-submit --packages ai.h2o:sparkling-water-package_2.11:3.26.10-2.4 --class org.apache.spark.examples.h2o.CraigslistJobTitlesStreamingApp /dev/null
Ivy Default Cache set to: /home/d3m-risk/.ivy2/cache
The jars for the packages stored in: /home/d3m-risk/.ivy2/jars
:: loading settings :: url = jar:f

[2019-12-06 07:33] jakubhava commented on #1666
Sparkling Water examples have been removed from the production JAR file in this change https://github.com/h2oai/sparkling-water/commit/cf7e459d8c4cfe1fb977405a02efa1016fe22bde#diff-609fa1e2d29e223429c73b12a3466252

If you want to run examples, please download the examples jar from maven central https://mvnrepository.com/artifact/ai.h2o/sparkling-water-examples_2.11/3.26.10-2.4 and specify this jar

[2019-12-06 07:33] #1666 closed

[2019-12-10 11:49] hemanshupaliwa7 commented on #1121
Hello @jakubhava... Hope you are doing good!!

I bring another issue of the same topic Spark DF to H2O Df in scala

I am following this notebook https://docs.databricks.com/_static/notebooks/h2o-sparkling-water-scala.html
And i get this error when I am converting spark dataframe to h2o

`[error] (run-main-0) java.lang.NoSuchMethodError: jsr166y.CountedCompleter.quietlyComplete()V
java.lang.NoSuchM

[2019-12-10 11:52] hemanshupaliwa7 opened #1686 "Convert Spark Dataframe to H2o Dataframee"
Hello @jakubhava and Team... Hope you are doing good!!

I bring another issue of the same topic Spark DF to H2O Df in scala

I am following this notebook https://docs.databricks.com/_static/notebooks/h2o-sparkling-water-scala.html
And i get this error when I am converting spark dataframe to h2o

`[error] (run-main-0) java.lang.NoSuchMethodError: jsr166y.CountedCompleter.quietlyComplete()V
java.lan

[2019-12-10 13:24] jakubhava commented on #1121
@joscani can you please share information about your environment and versions?

[2019-12-10 13:26] jakubhava commented on #1686
@hemanshupaliwa7 can you please share information about your environment and versions?  Without that it's hard to reason about possible issues

[2019-12-10 13:33] hemanshupaliwa7 commented on #1686
Hello @jakubhava...

I am working with sbt(0.13.15) with scala (2.11.1)

MY build.sbt file looks like this for spark and sparkling water

`val sparkVersion = "2.4.0"
val sparklingWaterVersion = "3.26.11-2.4"

libraryDependencies ++= Seq(
  //Spark Libreries
  "org.apache.spark" %% "spark-core" % sparkVersion,
  "org.apache.spark" %% "spark-streaming" % sparkVersion,
  "org.apache.spark" %% "spark-

[2019-12-10 13:36] jakubhava commented on #1686
Can you just define  `"ai.h2o" %% "sparkling-water-package" % sparklingWaterVersion` this dependency? The `sparkling-water-package` contains all other required dependencies needed for Sparkling Water to run, including some shadowed libraries.

I would firstly try:

[code]
And would go from there

[2019-12-10 13:37] hemanshupaliwa7 commented on #1686
Okay Let me Try this out

[2019-12-10 13:51] hemanshupaliwa7 commented on #1686
Got the same error :(

`19/12/10 19:18:31 WARN InternalH2OBackend: Increasing 'spark.locality.wait' to value 0 (Infinitive) as we need to ensure we run on the nodes with H2O
19/12/10 19:18:31 WARN NativeLibrary: Cannot load library from path lib/windows_64/xgboost4j_gpu.dll
19/12/10 19:18:31 WARN NativeLibrary: Cannot load library from path lib/xgboost4j_gpu.dll
19/12/10 19:18:31 WARN NativeLibrar

[2019-12-13 08:37] hemanshupaliwa7 commented on #1686
@jakubhava...

I have run the application as java, and think i got a detailed error here now..

`Exception in thread "main" DistributedException from DESKTOP-RM16H20/192.168.0.5:54321: 'Chunks have different sizes in different vectors: 2 in vector 1 and3 in vector 0', caused by java.lang.IllegalArgumentException: Chunks have different sizes in different vectors: 2 in vector 1 and3 in vector 0
	at

[2019-12-13 11:12] adbak opened #1695 "h2o algorithms in pyspark pipeline"
Hi, thanks for a great repo!

I have `h2o-pysparkling-2.4==3.26.10` installed and want to enrich pyspark pipeline (including StringIndexer, VectorAssembler) with algorithms from h2o. But when I type `from pysparkling.ml import` ontly few of them are available (H2OXGBoost, H2OAutoML and so on). I wanted to end the pipeline with `H2OStackedEnsembleEstimator` from h2o.estimators. Is it possible? And

[2019-12-13 11:14] jakubhava commented on #1695
Hi @adbak, we currently do not have stack ensemble exposed in our pipeline API but we are aiming at full feature parity with H2O

[2019-12-13 11:26] adbak commented on #1695
Ok, thank you for the clarification! So for now the only way to do this is to have a pyspark pipeline without a model and training `H2OStackedEnsembleEstimator` on the output of this pipeline (transformed to h2o frame)? While querying the model we need to reconstruct the whole path and first run the pipeline and then run the model. Is it an acceptable way to do this? Should I be worried about over

[2019-12-13 13:13] ramakrv commented on #1357
Hi I am getting the same error.. below are my databricks cluster specs
**42.00 GB | 12 Cores | DBR 6.2 ML | Spark 2.4.4 | Scala 2.11.**

I am trying to run h2ocontext, and i getting below failure.
_h2oConf = H2OConf(spark).set("spark.ui.enabled", "false")
h2o_context = H2OContext.getOrCreate(spark, conf=h2oConf)_

**Error**

Kindly need some help on this.

[2019-12-13 13:13] jakubhava commented on #1357
Databricks `ML` machine types are not supported at this moment

[2019-12-13 13:32] ramakrv commented on #1357
Thank You. is there a way to update the h2o version to specific version.

**Cluster Specs: 42.00 GB | 12 Cores | DBR 6.2 | Spark 2.4.4 | Scala 2.11**

_**

**_

i have a model trained in the later version and need to use it in the databricks cluster.

[2019-12-16 14:16] ramakrv opened #1706 "H2O Connection Error: Unexpected HTTP error"
I am trying to train H2O GBM algorithm on Databricks Cluster. H2O session is created, able to load data in to h2O, split the data , but when i am trying to train the model. I got the below error repeatedly

**Databricks specs: TestingCluster, 42.00 GB | 12 Cores | DBR 6.2 | Spark 2.4.4 | Scala 2.11**

**_gbm Model Build progress: |█████████
H2OConnectionError: Unexpected HTTP error: HTTPConnection

[2019-12-17 10:29] ramakrv commented on #1706
@jakubhava Hi , Need some help from you regarding issue mentioned above

[2019-12-24 06:45] prarshah opened #1721 "Fails when passing a vector as an input column through new H2OAutoML.setFeaturesCol()"
Providing us with the observed and expected behavior definitely helps. Giving us with the following information definitively helps:

- Sparkling Water/PySparkling/RSparkling version - LATEST
- Hadoop Version & Distribution
- Execution mode local
- H2O & Spark logs if not running on YARN. You can find these logs in Spark work directory
Exception in thread "main" DistributedException from localhost/

[2019-12-24 13:49] #1721 closed

[2019-12-24 13:51] prarshah commented on #1721
It was because VectorAssembler creates a different representation for sparse vectors, by writing a udf for un-dencesing the vector, it solved my issue. Thankyou.

[2019-12-25 02:00] BhushG commented on #1193
@MrHadgehog How did you fix XGBoost issue? I'm having same issue in my project. I've following XGBoost dependency in my project along with H2O Sparkling water dependency.

<dependency>
            <groupId>ml.dmlc</groupId>
            <artifactId>xgboost4j-spark</artifactId>
            <version>0.82</version>
 </dependency>

<dependency>
            <groupId>ai.h2o</groupId>
            <artifac

[2019-12-26 04:46] BhushG commented on #1193
@jakubhava Is there any way I can avoid this XGboost : java.lang.IllegalAccessError: tried to access class ml.dmlc.xgboost4j.java.NativeLibLoader from class hex.tree.xgboost.XGBoostExtension error?

[2019-12-26 06:19] BhushG opened #1722 "Exception in model.fit method"
Exception in thread "main" java.lang.IllegalAccessError: tried to access class ml.dmlc.xgboost4j.java.NativeLibLoader from class hex.tree.xgboost.XGBoostExtension
	at hex.tree.xgboost.XGBoostExtension.initXgboost(XGBoostExtension.java:68)
	at hex.tree.xgboost.XGBoostExtension.isEnabled(XGBoostExtension.java:49)
	at water.ExtensionManager.isEnabled(ExtensionManager.java:189)
	at water.ExtensionMana

[2019-12-31 04:57] MrHadgehog commented on #1193
Hi, sorry for the late reply. I removed dependencies ml.dmlc.xgboost4j or any similar from the entire project. After that the issue was solved.

[2020-01-05 10:12] BhushG commented on #1193
@MrHadgehog @jakubhava Hi, I found a turnaround for this problem. Apparently, the sequence of the dependencies matters in maven. So I moved the dependency of h2o above dependency of xgboost4j-spark and it worked.

        <dependency>
            <groupId>ai.h2o</groupId>
            <artifactId>sparkling-water-package_2.11</artifactId>
            <version>${h2o.automl.version}</version>

[2020-01-05 10:19] BhushG commented on #1722
Hi, I found a turnaround for this problem. Apparently, the sequence of the dependencies matters in maven. So I moved the dependency of h2o above dependency of xgboost4j-spark and it worked.

    <dependency>
        <groupId>ai.h2o</groupId>
        <artifactId>sparkling-water-package_2.11</artifactId>
        <version>${h2o.automl.version}</version>
    </dependency>
    <dependency>
        <gro

[2020-01-05 10:20] #1722 closed

[2020-01-09 11:15] dataspekulant opened #1728 "Automatic External Backend - multiple instances"
I have **multiple applications** where each of them is creating its own H2O Sparkling Water **External Backend in Automatic mode**.
The problem is when two applications are trying to create its own backend in nearly same time.
Backend of first application is created successfully, however backend of the second application fails in its initialization phase. Is this some kind of know limitation or bu

[2020-01-09 13:36] mn-mikke commented on #1728
Hi @dataspekulant,
this should work. Do you have enough of free resources on your cluster when you're creating `H2OContext` in the second application? Can you share error messages or YARN logs eventually?

[2020-01-10 13:13] BhushG opened #1733 "Sparkling water Scala 2.12 Support."
When will Sparkling water for Scala 2.12 and Spark 2.4 release?

[2020-01-22 07:52] BhushG opened #1739 "java.lang.RuntimeException: Cloud size 1 under 2"
Hi, I'm getting this exception when I'm executing the job on the YARN cluster. There is no problem executing same job on a local machine.
I've tried all of these settings: http://docs.h2o.ai/sparkling-water/2.1/latest-stable/doc/configuration/internal_backend_tuning.html , but still couldn't resolve this exception.
Here are the logs:

[code]

[2020-01-22 10:32] mn-mikke commented on #1739
Hi @BhushG,
Can you try to give Spark executors more memory?

[2020-01-22 14:09] BhushG commented on #1739
@mn-mikke Thanks for the quick reply. We already tried that. We have taken Iris dataset for testing which is just of a few KBs and allocated 5GB to executors as well as the driver but still, it did not work.

[2020-01-22 14:19] mn-mikke commented on #1739
What version of Sparkling Water do you use? Could you share a code snippet that you tried to run?

[2020-01-23 08:35] BhushG commented on #1739
@mn-mikke We have tried these versions of Sparkling water: 3.28.0.1-1-2.4 and 3.26.11-2.4 on spark 2.4.

Here is the code snippet:
`def main(args: Array[String]): Unit = {
    import org.apache.spark.h2o.{H2OConf, H2OContext}
    println("H2O AutoML")
    println("Creating Spark Session..")
    val sparkConf = new SparkConf()
      .setAppName("H2OAutoML")
      .setMaster("yarn")

    val sparkSe

[2020-01-23 08:38] BhushG commented on #1739
@mn-mikke we are using internal cluster mode and I've in fact set spark.dynamicAllocation.enabled to false

[2020-01-23 11:36] alexHeu opened #1742 "String columns in spark dataframe to enum columns in h2o"
Hi,

I have a train and test pyspark dataframe and would like to convert them to h2o to be able to distributed training via pysparkling.
I convert the dataframes as follows:

train_hf = hc.as_h2o_frame(Df_Train, framename="train_hf")
test_hf = hc.as_h2o_frame(Df_Test, framename="test_hf")

Everything works well except the string columns that are treated as strings and not enum within the h2o frame

[2020-01-23 12:26] mn-mikke commented on #1742
Hi @alexHeu,
you can convert `.asfactor()` to convert given columns to categoricals. [Here](https://github.com/h2oai/sparkling-water/blob/master/py/tests/unit/with_runtime_clientless_sparkling/test_GBM.py#L60) is an example.

[2020-01-23 13:15] alexHeu commented on #1742
Hi @mn-mikke
Thanks, that worked well including model training.

How is the behavior if I convert the trained model into a MOJO, create a pysparkling H20MojoModel from it and pass new data as spark dataframes (model.transform(new_data)).
Is the MOJO correctly converting the spark string cols to the corresponding factors within the model?

Thanks for your help.
Alex

[2020-01-23 13:48] mn-mikke commented on #1742
`H2OMojoModel` in Python or Scala internally utilizes [`EasyPredictModelWrapper`](https://github.com/h2oai/h2o-3/blob/6dfaeeacf58aa3f3662d54b4a07963779384cb11/h2o-genmodel/src/main/java/hex/genmodel/easy/EasyPredictModelWrapper.java) that makes predictions based on features encoded as strings to be also able to process input from command line. You would need this wrapper if you need to write your

[2020-01-24 09:11] mn-mikke commented on #1733
https://0xdata.atlassian.net/browse/SW-1846

[2020-01-26 20:45] jakubhava commented on #1733
Sparkling Water will support Scala 2.12 with Spark 3.0 where Scala 2.12 is default Scala. We will create a documentation for users who want to build older versions of Spark with Scala 2.12 but we won't provide artifacts for Scala 2.12 for older versions

[2020-01-26 22:02] jakubhava commented on #1728
@dataspekulant are you creating both H2OContext from same Spark app? At this time only one H2OContext can exist per Spark app

[2020-01-26 22:09] jakubhava commented on #1706
@ramakrv Can you please share your version, logs, environment, etc? Thanks

[2020-01-26 22:11] jakubhava commented on #1686
@hemanshupaliwa7 could you please share with us the shape of data you are trying to convert? Or the reproducible code snippet? Thank you

[2020-01-26 22:55] jakubhava commented on #1491
@MrHadgehog Could you please share your sbt build?

[2020-01-26 22:56] #1593 closed

[2020-01-26 22:58] jakubhava commented on #1490
The answer for this is that Sparkling Water wasn't able to discover all the executors at the beginning, found only 5. This means that at some point, when additional executor is added, H2O won't be running on it

[2020-01-26 22:58] #1490 closed

[2020-01-26 22:59] #597 closed

[2020-01-26 23:01] #1193 closed

[2020-01-26 23:03] jakubhava commented on #1615
@novan-p-simanjuntak Currently it is not possible on our AutoML wrapper, please create a JIRA at https://0xdata.atlassian.net/secure/RapidBoard.jspa?rapidView=15&projectKey=SW&quickFilter=206

[2020-01-26 23:03] #1615 closed

[2020-01-26 23:08] jakubhava commented on #1695
Yup, this mixed approach is fine. What I would do is to create a pipeline to prepare your data you need to pass to `H2OStackedEnsembleEstimator`, apply `H2OStackedEnsembleEstimator` and produce a mojo model which can be used for scoring without the need of starting H2OContext/H2O ( MOJO is our descriptor of a model independent of H2O runtime) so in this case you don't need to worry about starting

[2020-01-26 23:09] #1695 closed

[2020-01-26 23:10] jakubhava commented on #1695
Feel free to create a JIRA for supporting StackEnsables pipeline step at https://0xdata.atlassian.net/browse/SW

[2020-01-27 13:41] dataspekulant commented on #1728
I have tried to run both H2OContext from same Spark app. Thank you for confirmation, that currently this is not possible. Therefore I've split it into two separate Spark applications.

[2020-01-27 13:41] #1728 closed

[2020-01-28 07:43] ananbas opened #1750 "sparkling-water-3.28.0.3-1 spark 2.4.0-cdh6.2.1, container start, but cluster not formed"
Using `spark.ext.h2o.cluster.size=10` and `spark.executor.instances=10`, YARN successfully spawn 10 containers: but not 1 cluster with 10 nodes, but 10 clusters with 1 node each. As if each container act as a H2O cluster. H2o cluster name still the same tho.

- Sparkling Water: 3.28.0.3-1 build againts spark 2.4.0-cdh6.2.1.
- Hadoop Version & Distribution: CDH 6.2.1, Hadoop 3.
- Execution mode: YA

[2020-01-28 07:46] ananbas commented on #1750
YARN log:
[code]

[2020-01-28 07:50] ananbas commented on #1750
I cannot open http://bdprden0004:54321, but I can open H2O flow web ui directly to the container IP:54321

[2020-01-28 13:29] kimcie opened #1751 "Running Sparkling Water in Kubernetes with Python"
According to the documentation (https://github.com/h2oai/sparkling-water/blob/master/doc/src/site/sphinx/deployment/kubernetes.rst) to start sparkling water using python on top of Kubernetes one should use scala sparklng water image. This is probably a bug in a documentation. I tried to use python type image, but also without success.I wonder whether it is even possible to use python image to run

[2020-01-29 02:06] jakubhava commented on #1750
Please send us full yarn logs via, you can get them as `yarn logs -applicationId yarnAppId`

[2020-01-29 06:24] ananbas commented on #1750
Hi Jakub,

Thank you for replying, PFA the yarn logs:
[application_1578810538730_40700.log](https://github.com/h2oai/sparkling-water/files/4126506/application_1578810538730_40700.log)

[2020-01-29 08:34] hemanshupaliwa7 commented on #1686
@jakubhava

I solved the error "'Chunks have different sizes in different vectors: 2 in vector 1 and3 in vector 0', caused by java.lang.IllegalArgumentException: Chunks have different sizes in different vectors: 2 in vector 1 and3 in vector 0" by converting my feature vector column to Sparse.

But i am getting the error that I was getting before on my office system and some thing is working on my

[2020-01-29 14:54] MrHadgehog commented on #1491
@jakubhava Hi, sure, check the attachment please.
I've just tested the new version 3.28.0.2-1-2.4 as well and facing the same issue. Ping me if you need new logs. Thank you for your help!
[sbt_build.txt](https://github.com/h2oai/sparkling-water/files/4128645/sbt_build.txt)

[2020-01-30 04:46] #1733 closed

[2020-01-30 07:03] jakubhava commented on #1750
@ananbas From the logs I actually see you are running Sparkling Water 3.28.0.2 ( 3.28.0.3 hasn't been released yet) and we have actually discovered a critical bug preventing cloud up of Sparkling Water in this version ( it was also introduced in this version). We have fix already for this and are doing a release soon. I would suggest downgrading for now to 3.28.0.1 or waiting for a new release.

T

[2020-01-30 07:03] #1750 closed

[2020-01-30 07:59] ananbas commented on #1750
Hi Jakub,

Ok will try that version, will update

[2020-01-30 16:54] BrandonRCopeland opened #1757 "Possible Bug as of 1/28/2020"
Hey folks, my code that's been in production for several months is now breaking when I call h2o_context(sc). I'm wondering if there is a new bug that go introduced somehow. Can you check this out? Again, this code is unchanged and was running successfully in production until Tuesday 1/28/20 when it started crashing at the h2o_context(sc) call. Nothing has change.  Cluster version, spark version, R

[2020-01-30 17:08] mn-mikke commented on #1757
@BrandonRCopeland Can you try to reinstall RSparkling library?

```install.packages("rsparkling", type = "source", repos = "http://h2o-release.s3.amazonaws.com/sparkling-water/spark-2.4/3.28.0.1-1-2.4/R")```

http://docs.h2o.ai/sparkling-water/2.4/latest-stable/doc/rsparkling.html

[2020-01-30 17:41] BrandonRCopeland commented on #1757
That didn't work.  :(

This has been running in production just fine for over a month and then it randomly started failing.

[2020-01-30 17:43] BrandonRCopeland commented on #1757
It looks like it's an h2o error:

Error : package or namespace load failed for ‘h2o’ in get(method, envir = home):
 lazy-load database '/databricks/spark/R/lib/h2o/R/h2o.rdb' is corrupt

[2020-01-30 18:19] mn-mikke commented on #1757
What version of sparklyr do you use?

Also can you upgrade h2o repo to the corresponding version? install.packages("h2o", type = "source", repos = "http://h2o-release.s3.amazonaws.com/h2o/rel-yu/1/R")

[2020-01-30 18:27] BrandonRCopeland commented on #1757
Let me try.  I'm using the most recent CRAN version of Sparklyr via install.packages("sparklyr").

I trying to update my sparkling water to 3.28.0.1-1-2.4 and am adding the distribution to my cluster via the maven coordinates.  I'll see if that works.

I'm following the documentation here: https://s3.amazonaws.com/h2o-release/sparkling-water/spark-2.4/3.28.0.1-1-2.4/index.html

[2020-01-30 18:33] BrandonRCopeland commented on #1757
Back in business!  Solution: Migrate to RSparkling version 3.28.0.1-1-2.4.  Instead of uploading JAR file to cluster, use Maven coordinates: ai.h2o:sparkling-water-package_2.11:3.28.0.1-1-2.4.

And here's my updated code:
![image](https://user-images.githubusercontent.com/44583531/73478989-edd52b00-434b-11ea-9c9c-86a29686f66d.png)

Thanks so much for the help @mn-mikke!!!

[2020-01-30 18:35] #1757 closed

[2020-01-30 19:00] jakubhava commented on #1757
@BrandonRCopeland just fyi: With new versions of RSparkling it is not necessary to explicitly upload the Sparkling Water Jar or fetch it from maven. It is already included inside the R package

[2020-01-30 19:05] BhushG commented on #1739
@jakubhava Hi.. Is there any solution to this exception? Sometimes the model gets trained on cluster but when I deploy same model for same dataset on cluster, it fails with cloud size 0 under 2. I appreciate your help.

[2020-01-30 19:51] BrandonRCopeland commented on #1757
@jakubhava - okay, so then with the above code, I won't need to upload the JAR or the maven?  Just literally boot up my cluster and run the above code?

[2020-01-30 19:52] jakubhava commented on #1757
Yup, exactly -> please see http://docs.h2o.ai/sparkling-water/2.4/latest-stable/doc/pysparkling.html

[2020-01-30 19:56] kaleb-thompson opened #1758 "h2o loadmodel() functions removed starting 1/28/2020 Databricks"
%r
install.packages("sparklyr")
library(sparklyr)

%r
install.packages("h2o", type = "source", repos = "https://h2o-release.s3.amazonaws.com/h2o/rel-yu/1/R")

%r
install.packages("rsparkling", type = "source", repos = "http://h2o-release.s3.amazonaws.com/sparkling-water/spark-2.4/3.28.0.1-1-2.4/R")

%r
library(rsparkling)

%r
sc <- spark_connect(method="databricks", version = "2.4.0")

%r
h2o_cont

[2020-01-30 19:57] jakubhava commented on #1758
@EffeX12 did you run `library(h2o)` ? If yes and still does not work, can you please report this issue on H2O project?

[2020-01-30 19:58] kaleb-thompson commented on #1758
yes I did. It still doesn't work. Where do I need to post this? I'm new to all this.

[2020-01-30 20:04] kaleb-thompson commented on #1758
Getting this error now actually:

Error in .h2o.doSafeREST(h2oRestApiVersion = h2oRestApiVersion, urlSuffix = page, : Error in .h2o.doSafeREST(h2oRestApiVersion = h2oRestApiVersion, urlSuffix = page,  :

ERROR MESSAGE:

Found version 3.22.0.3, but running version 3.28.0.1

For more information visit:
  http://jira.h2o.ai/browse/TN-14

Error in .h2o.doSafeREST(h2oRestApiVersion = h2oRestApiVersion,

[2020-01-30 20:04] BrandonRCopeland commented on #1757
@jakubhava - great. Thanks!

[2020-01-30 20:08] #1758 closed

[2020-01-30 20:10] jakubhava commented on #1758
https://github.com/h2oai/h2o-3

[2020-01-30 20:10] kaleb-thompson commented on #1758
You were right. I missed that. Thank you very much!

[2020-01-31 05:01] BhushG commented on #1739
@jakubhava @mn-mikke Is there any solution to this? or shall I use External backend?

[2020-01-31 14:12] BhushG opened #1759 "Not able to start external backend on YARN : java.io.IOException: Cannot run program "hadoop": error=2, No such file or directory"
Here are the logs

[code]

[2020-01-31 14:14] BhushG commented on #1739
I'm also not able to start the External backend. Created new issue: https://github.com/h2oai/sparkling-water/issues/1759

[2020-01-31 14:24] BhushG commented on #1759
code is throwing an exception in this function in class ExternalBackendUtils.

'''
protected[backends] def launchShellCommand(cmdToLaunch: Seq[String]): Int = {
    import scala.sys.process._
    val processOut = new StringBuffer()
    val processErr = new StringBuffer()

    val proc = cmdToLaunch.mkString(" ").!(ProcessLogger(
      { msg =>
        processOut.append(msg + "\n")
        println(

[2020-01-31 14:34] BhushG commented on #1759
This command is passed to launchShellCommand:

_hadoop jar /home/streamflux/sparkling-water-3.28.0.1-1-2.4/h2odriver-sw3.28.0-hdp2.6-extended.jar -Dmapreduce.job.queuename=default -Dmapreduce.job.tags=H2O/Sparkling-Water,Sparkling-Water/Spark/application_1580446727168_0013 -Dai.h2o.args.config=sparkling-water-external -nodes 2 -notify notify_H2O_via_SparklingWater_application_1580446727168_0013 -j

[2020-01-31 14:59] mn-mikke commented on #1759
Hi @BhushG, what's the hadoop distribution you're trying to run Sparkling Water on?

[2020-01-31 18:39] BhushG commented on #1759
I'm running Sparkling Water on Hadoop Yarn hdp 2.7 version. If I run the exact command to start cluster mentioned above H2O External cluster starts successfully. But H20 External cluster initialization is failing through the code

[2020-01-31 18:45] BhushG commented on #1759
External cluster initialization code:
[code]
and ```spark.ext.h2o.external.h2o.driver``` this parameter points to H2O Extended driver jar file.

[2020-02-01 05:38] BhushG commented on #1759
If I initiate H2O External cluster using sparkling shell, then also it works fine:

[code]

[2020-02-01 12:38] BhushG commented on #1759
@jakubhava @mn-mikke Hi. I'm not able to run H2O ML programs neither on internal backend nor on the external backend. I'm stuck. Please let me know if you can help me with these exceptions.

[2020-02-01 14:01] BhushG commented on #1759
I got the reason for this exception.
I wrote a simple program to run Hadoop command on yarn cluster.

[code]

[2020-02-01 15:16] BhushG commented on #1759
This is what it is happening there : https://stackoverflow.com/questions/51379619/running-hadoop-command-from-java-file

[2020-02-01 15:28] BhushG commented on #1759
If I give the full path to hadoop then my code is running successfully on yarn.
eg
``` spark-submit --class CommandTest --master yarn --deploy-mode cluster SimpleTest-1.0-SNAPSHOT.jar "yarn" "/home/bhushan/usr/local/hadoop/bin/hadoop dfs -ls /" ```

[2020-02-02 19:08] jakubhava commented on #1759
@BhushG thanks for the investigation! Right now Sparkling Water expects that `hadoop` is on the path, so please add it there.

Adding a option which could specify full hadoop version is a good idea, we might add that - https://0xdata.atlassian.net/browse/SW-1866

[2020-02-02 19:08] #1759 closed

[2020-02-02 21:50] ananbas opened #1763 "H2o context not created in 3.28.0.1 build with spark 2.4.0-cdh6.2.1"
Issue: H2o cluster formed but h2ocontext is not created in sparkling-shell

[code]
Spark & Sparkling Water configuration including the memory configuration:
[code]

Code:
[code]

Error:
[code]
[yarn.log](https://github.com/h2oai/sparkling-water/files/4145445/yarn.log)

[2020-02-02 21:53] jakubhava commented on #1763
Thanks for the report!

This is a simple bug -> we try to register our custom Sparkling Water Tab to the UI even though you have explicitly disabled the UI: `spark.ui.enabled=false`

As a workaround, you can turn on the UI. We will work on a fix, thanks!

[2020-02-02 22:09] ananbas commented on #1763
Hi Jakub,

Thank you for replying, after set `spark.ui.enabled=true`, now I get this

[code]

[2020-02-02 22:12] jakubhava commented on #1763
This is error which is going to be fixed in the next release `3.28.0.3`

[2020-02-02 22:14] ananbas commented on #1763
okay then, thank you Jakub

[2020-02-02 22:16] jakubhava commented on #1763
no problem, btw: the fix for the UI will be there as well https://github.com/h2oai/sparkling-water/pull/1764

[2020-02-02 22:17] ananbas commented on #1763
wow, that was fast, thank you Jakub

[2020-02-02 22:18] ananbas commented on #1610
open new : https://github.com/h2oai/sparkling-water/issues/1763

[2020-02-02 22:18] #1610 closed

[2020-02-02 22:23] ananbas commented on #1763
Hi Jakub,

I'm succefully started h2ocontext with 5 nodes cluster, apparently 10 nodes is too much

[2020-02-02 22:24] jakubhava commented on #1763
Yup -> the bug which we have fixed behaves like this. In the yarn logs you can see "IndexArrayOutOfBoundExceptions" which appear when more nodes are requested.

This will be fixed in 3.28.0.3 which should go out this week. But if you are not in rush, I would wait for the release 3.28.0.4 which adds additional fixes for clouding in internal backend and making it even more robust

[2020-02-03 04:24] BhushG commented on #1759
@jakubhava hadoop is already in PATH. That's why I can execute hadoop commands from anywhere. I don't need to specify full path to hadoop. But when I'm executing a spark job to execute command such as "hadoop fs -ls /" then it is not able to find hadoop. In this case, running command through a spark job, I've to specify full path eg. "/home/bhushan/usr/local/hadoop/bin/hadoop dfs -ls /", only then

[2020-02-03 04:26] BhushG commented on #1759
Even though Hadoop is in PATH. Spark job is not able to detect it.

[2020-02-03 07:30] BhushG opened #1767 "Reopening Issue: Not able to start external backend on YARN : java.io.IOException: Cannot run program "hadoop": error=2, No such file or directory #1759"
Reopening the issue. It is not resolved yet: https://github.com/h2oai/sparkling-water/issues/1759

Hadoop is already in PATH. That's why I can execute hadoop commands from anywhere. I don't need to specify full path to hadoop. But when I'm executing a spark job to execute command such as "hadoop fs -ls /" then it is not able to find hadoop. In this case, running command through a spark job, I've t

[2020-02-03 08:42] jakubhava commented on #1767
Please re-open the original issue and let's keep the communication there

[2020-02-03 08:42] #1767 closed

[2020-02-03 08:44] jakubhava commented on #1759
In that case it seems like some sort of Spark and not Sparkling Water one, what do you think? I have put in the Sparkling Water code configuration for specifying full path to hadoop to help out with this issue though https://github.com/h2oai/sparkling-water/pull/1766

[2020-02-03 11:02] BhushG commented on #1759
I checked out your branch SW-1866 on Intellij IDE. I tried to build it using command ./gradlew dist as mentioned here: http://docs.h2o.ai/sparkling-water/2.4/latest-stable/doc/devel/build.html. But built failed.

[code]
Am i using right command for build or not?

[2020-02-03 12:17] mn-mikke commented on #1759
Hi @BhushG,
The current master contains some changes that require build against `master`or `rel-yu` of H2O-3.

To build this branch, you also need to get h2o-3 repo, switch to `rel-yu` and build SW with H2O-3:
`./gradlew build -x check --include-build H2O_REPO_PATH`

to build deployable artifacts run:
`./gradlew dist --include-build H2O_REPO_PATH`

Please also see H2O-3 build instructions: https:/

[2020-02-03 12:37] BhushG commented on #1759
@mn-mikke Thanks

@mn-mikke @jakubhava Hey.. finally I got the problem: I was using Cluster as deploy-mode. I changed it to the Client. Now the Hadoop command is getting executed successfully.

Will it solve this [https://github.com/h2oai/sparkling-water/issues/1739] Internal backend issue also? What do you think?

[2020-02-03 18:01] snallam12 opened #1768 "java.lang.RuntimeException: Cloud size 1 under 2 Error : java.lang.RuntimeException: Cloud size 1 under 2"
Below are the version of h2o/sparkling water we are using
**install.packages("sparklyr")
library(sparklyr)
install.packages("h2o", type = "source", repos = "https://h2o-release.s3.amazonaws.com/h2o/rel-yu/1/R")
install.packages("rsparkling", type = "source", repos = "http://h2o-release.s3.amazonaws.com/sparkling-water/spark-2.4/3.28.0.1-1-2.4/R")**

Using spark 2.4.4

We had issues with as_h2o_fra

[2020-02-03 18:49] BhushG commented on #1759
Hello @mn-mikke , @jakubhava ,
We can set PATH for yarn-cluster mode also.
set following spark-conf property:

**spark.yarn.appMasterEnv.PATH**=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/home/project/usr/local/hadoop/bin:/home/project/usr/local/hadoop/sbin:/home/project/usr/local/spark/bin:/home/project/usr/local/kafka/bin:/home/project/usr/local/scala/bin:/home/project/usr/loca

[2020-02-03 19:27] jakubhava commented on #1768
@snallam12 could you please share the logs with us?

Also we are fixing several issues in the internal backend of Sparkling Water affecting the cloud up in the next release 3.28.0.3. It is possible this might be related

[2020-02-03 19:29] snallam12 commented on #1768
Hi Jakub,

PFB logs.

OpenJDK 64-Bit Server VM warning: ignoring option MaxPermSize=512m; support was removed in 8.0
/databricks/python/lib/python3.7/site-packages/IPython/config.py:13: ShimWarning: The `IPython.config` package has been deprecated since IPython 4.0. You should import from traitlets.config instead.
  "You should import from traitlets.config instead.", ShimWarning)
/databricks/pytho

[2020-02-03 19:31] jakubhava commented on #1768
Would it be possible to collect YARN logs? there are just the driver logs. In the full yarn logs we can see what actually went wrong

[2020-02-03 20:47] kaleb-thompson commented on #1768
Hi Jakub,

When do you all plan to release 3.28.0.3? We are using this in a production solution and we may need to work on an alternative solution if the fix is not imminent.

Thanks,

Kaleb

[2020-02-03 20:48] jakubhava commented on #1768
Without the YARN logs I can verify the nature of the issues. But to answer the question regarding release -> the release will go out this week

[2020-02-03 20:53] kaleb-thompson commented on #1768
She sent these via email:

OpenJDK 64-Bit Server VM warning: ignoring option MaxPermSize=512m; support was removed in 8.0
/databricks/python/lib/python3.7/site-packages/IPython/config.py:13: ShimWarning: The `IPython.config` package has been deprecated since IPython 4.0. You should import from traitlets.config instead.
  "You should import from traitlets.config instead.", ShimWarning)
/databricks/

[2020-02-03 20:54] jakubhava commented on #1768
These are only logs from the driver. We need logs from all the executors etc

[2020-02-03 20:57] kaleb-thompson commented on #1768
We are working on it. We'll send them over shortly..  Thanks!

[2020-02-03 21:24] snallam12 commented on #1768
20/02/03 21:21:47 INFO MemoryStore: Block broadcast_42_piece0 stored as bytes in memory (estimated size 25.0 KB, free 20.8 GB)
20/02/03 21:21:47 INFO TorrentBroadcast: Reading broadcast variable 42 took 6 ms
20/02/03 21:21:47 INFO MemoryStore: Block broadcast_42 stored as values in memory (estimated size 85.3 KB, free 20.8 GB)
20/02/03 21:21:47 INFO Utils: Successfully started service 'sparkling-w

[2020-02-03 21:25] jakubhava commented on #1768
Yes, thank you. This error is fixed in the release we are doing this week -> 3.28.0.3

[2020-02-03 21:28] kaleb-thompson commented on #1768
Great thank you. Is there any way for us to safeguard against things like this? I guess I don't understand why everything was working fine and it just randomly broke.

I understand things happen but we need to have some degree of certainty that we can depend on this not to break unless we shouldn't be using it in production.

[2020-02-03 21:31] jakubhava commented on #1768
The error was there for a long time already, but wasn't deterministic. The non-deterministic behaviour might also depend on the infrastructure changes on DBC side.

We have added tests on our site for this specific issue to make sure it won't ever go back

[2020-02-03 21:38] jakubhava commented on #1739
Can you share the full YARN logs ( executors, driver)? We have fixed various clouding issues in the upcoming release 3.28.0.3 and I would like to verify if this issue is one of them.

[2020-02-03 21:42] jakubhava commented on #630
We could not trace the issue, but with the new REST API approach, such problems can't happen anymore.

[2020-02-03 21:42] #630 closed

[2020-02-03 21:44] jakubhava commented on #1445
Hi @ssoftcheck we are about to do release this week -> 3.28.0.3. Would it be possible for you to give that release a try? Thanks, Kuba

[2020-02-03 21:45] jakubhava commented on #1535
I think this might be related to https://0xdata.atlassian.net/browse/SW-1559 which we are fixing in release this week. To be sure, please provide us with a complete YARN logs

[2020-02-03 21:45] #1535 closed

[2020-02-03 21:46] jakubhava commented on #1576
@lmcrazy We have fixed several clouding issues in the code in the upcoming release 3.28.0.3. Can you please give it a try when it's out? We are planning to do a release this week.

Thanks, Kuba

[2020-02-03 21:46] #1706 closed

[2020-02-03 21:47] jakubhava commented on #1686
Could you please describe the environment you have in your office & home systems, what are the differences there?

[2020-02-04 22:15] niebloomj commented on #1739
I am getting the same issue and have sent the full logs on the gitter channel. Thank you.

[2020-02-04 22:16] jakubhava commented on #1739
Yes, this issue will be fixed in the upcoming 3.28.0.3 release

[2020-02-06 07:11] jakubhava commented on #1768
Sparkling Water 3.28.0.3 is released which fixes the issues above:

    Spark 2.4: http://h2o-release.s3.amazonaws.com/sparkling-water/spark-2.4/3.28.0.3-1-2.4/index.html
    Spark 2.3: http://h2o-release.s3.amazonaws.com/sparkling-water/spark-2.3/3.28.0.3-1-2.3/index.html
    Spark 2.2: http://h2o-release.s3.amazonaws.com/sparkling-water/spark-2.2/3.28.0.3-1-2.2/index.html
    Spark 2.1: http://h

[2020-02-06 07:11] jakubhava commented on #1768
If you happen to bump into any new issues, please feel free to start a new or re-open this ticket

[2020-02-06 07:11] #1768 closed

[2020-02-06 07:12] jakubhava commented on #1763
Sparkling Water 3.28.0.3 is released which fixes the clouding issues mentioned above:

    Spark 2.4: http://h2o-release.s3.amazonaws.com/sparkling-water/spark-2.4/3.28.0.3-1-2.4/index.html
    Spark 2.3: http://h2o-release.s3.amazonaws.com/sparkling-water/spark-2.3/3.28.0.3-1-2.3/index.html
    Spark 2.2: http://h2o-release.s3.amazonaws.com/sparkling-water/spark-2.2/3.28.0.3-1-2.2/index.html

[2020-02-06 07:12] #1763 closed

[2020-02-06 07:12] jakubhava commented on #1739
Sparkling Water 3.28.0.3 is released which fixes the clouding issues mentioned above:

    Spark 2.4: http://h2o-release.s3.amazonaws.com/sparkling-water/spark-2.4/3.28.0.3-1-2.4/index.html
    Spark 2.3: http://h2o-release.s3.amazonaws.com/sparkling-water/spark-2.3/3.28.0.3-1-2.3/index.html
    Spark 2.2: http://h2o-release.s3.amazonaws.com/sparkling-water/spark-2.2/3.28.0.3-1-2.2/index.html

[2020-02-06 07:12] #1739 closed

[2020-02-06 07:14] jakubhava commented on #1453
Sparkling Water 3.28.0.3 is released which fixes several clouding issues:

    Spark 2.4: http://h2o-release.s3.amazonaws.com/sparkling-water/spark-2.4/3.28.0.3-1-2.4/index.html
    Spark 2.3: http://h2o-release.s3.amazonaws.com/sparkling-water/spark-2.3/3.28.0.3-1-2.3/index.html
    Spark 2.2: http://h2o-release.s3.amazonaws.com/sparkling-water/spark-2.2/3.28.0.3-1-2.2/index.html
    Spark 2.1: h

[2020-02-06 07:14] #1453 closed

[2020-02-06 07:15] jakubhava commented on #1445
Sparkling Water 3.28.0.3 is released which fixes the clouding issues.

    Spark 2.4: http://h2o-release.s3.amazonaws.com/sparkling-water/spark-2.4/3.28.0.3-1-2.4/index.html
    Spark 2.3: http://h2o-release.s3.amazonaws.com/sparkling-water/spark-2.3/3.28.0.3-1-2.3/index.html
    Spark 2.2: http://h2o-release.s3.amazonaws.com/sparkling-water/spark-2.2/3.28.0.3-1-2.2/index.html
    Spark 2.1: http:

[2020-02-06 07:15] #1445 closed

[2020-02-06 07:23] jakubhava commented on #1491
Thank you! I can't see Scala listed in your dependencies list, could you please add it there?

[2020-02-06 07:25] jakubhava commented on #625
Closing this issue for now

[2020-02-06 07:25] #625 closed

[2020-02-06 07:26] jakubhava commented on #598
To be able to fit the dataset into H2O memory, rule of thumb is that number of memory should be 4 times higher than the size of data before import

[2020-02-06 07:26] #598 closed

[2020-02-06 07:27] jakubhava commented on #1576
Sparkling Water 3.28.0.3 is released which fixes the clouding issues mentioned above:

Spark 2.4: http://h2o-release.s3.amazonaws.com/sparkling-water/spark-2.4/3.28.0.3-1-2.4/index.html
Spark 2.3: http://h2o-release.s3.amazonaws.com/sparkling-water/spark-2.3/3.28.0.3-1-2.3/index.html
Spark 2.2: http://h2o-release.s3.amazonaws.com/sparkling-water/spark-2.2/3.28.0.3-1-2.2/index.html
Spark 2.1: http:

[2020-02-06 07:27] #1576 closed

[2020-02-06 07:29] jakubhava commented on #1742
JIRA for reference https://0xdata.atlassian.net/browse/SW-1779

[2020-02-06 07:31] jakubhava commented on #1751
Thank you for pointing out the bugs in the documentation - JIRA to track the issue https://0xdata.atlassian.net/browse/SW-1896.

Yes, it is possible, what particular bug have you hit?

[2020-02-06 07:35] jakubhava commented on #1686
@hemanshupaliwa7 it would help us a lot if you could please share with us on which data the `Chunks have different sizes in different vectors` exception happen as it is possible we have a bug in the code on one specific edge case?

Also could you please remove `"org.codehaus.jsr166-mirror" % "jsr166y" % "1.7.0"` from your dependencies and try it again like:

[code]

[2020-02-06 07:38] jakubhava commented on #1474
JIRA to track this issue https://0xdata.atlassian.net/browse/SW-1897

[2020-02-06 07:38] jakubhava commented on #1243
JIRA issue to track this issue https://0xdata.atlassian.net/browse/SW-1897

[2020-02-06 10:26] kimcie commented on #1751
As I mentioned I build Docker image for python, put it to registry and set spark.kubernetes.container.image to point to this image. Then I tried to Start Sparkling Water with 3 worker nodes like in documentation. It failed to start driver node with error that there is issue importing   pysparkling.

I inspected the Dockerfile for python and it seems that the pysparkling is just copied as zip file,

[2020-02-07 02:55] hemanshupaliwa7 commented on #1686
@jakubhava

Sorry I was away for a while, everything seems to be working fine now. I am working in SBT, I had to add Sparkling Water Jar file in the lib folder in SBT Structure...Chunks issue was related to Vector field which has both sparse and dense vector in it. After converting to Sparse Vector I didn't get Chunks Issue...

[2020-02-07 02:55] #1686 closed

[2020-02-07 02:56] hemanshupaliwa7 commented on #1686
Thanks @jakubhava for your support !!!

[2020-02-07 03:11] jakubhava commented on #1686
Thank you! I will add test for the case with dense & sparse vector to our test suite! Glad to help :)

[2020-02-10 11:35] alexHeu opened #1809 "Quantile Regression"
Hi,

is it possible to perform Quantile Regression with H2OGBM? I'm seeing the distribution parameter but no way to set quantile_alpha.

Thanks in advance,
Alex

[2020-02-10 22:38] jakubhava commented on #1809
@alexHeu Yup, that is a good catch, right now we do not expose quantile alpha parameter in Sparkling Water. I have created a JIRA issue to track the issue and the fix itself. It will be in the next release of Sparkling Water 3.28.0.4. PR can be seen here https://github.com/h2oai/sparkling-water/pull/1813

[2020-02-10 22:38] #1809 closed

[2020-02-11 01:02] jakubhava commented on #1491
Hi @MrHadgehog I'm assuming this issue was fixed with the latest suggestion. Please feel free to reopen the issue if needed. Thanks.

[2020-02-11 01:02] #1491 closed

[2020-02-11 02:10] jakubhava commented on #1474
@S-C-H Just wanted to let you know that from the next major release 3.28.1.1, you can run
[code]

The important part is the `withDetailedPredictionCol=True`. Without this, the prediction column contains directly the predicted label only. With this option, we generate also additional column in the final dataset with the name `detailed_prediction` which contains also map from label to predicted prob

[2020-02-11 02:10] #1474 closed

[2020-02-11 02:12] jakubhava commented on #1474
You can see the PR here https://github.com/h2oai/sparkling-water/pull/1816

[2020-02-11 05:13] jakubhava commented on #1751
Hi @kimcie,
 I was able to reproduce the issue. As the outcome, I have created a 2 changes which will be in the next release -> improved documentation & also have fixed the docker images.

PR for improving the documentation: https://github.com/h2oai/sparkling-water/pull/1819/files
PR for fixing the images: https://github.com/h2oai/sparkling-water/pull/1820/files

When 3.28.0.4 release is out, plea

[2020-02-11 05:13] #1751 closed

[2020-02-11 07:23] jakubhava commented on #1243
I'm closing this ticket, please use the JIRA to track progress on the issue

[2020-02-11 07:23] #1243 closed

[2020-02-11 07:23] jakubhava commented on #1742
I'm closing this ticket, please use the JIRA to track progress on the issue

[2020-02-11 07:23] #1742 closed

[2020-02-12 09:00] hemanshupaliwa7 opened #1828 "Issue with Obtain SHAP values from MOJO model"
Hello,

I am facing issue "Caused by: java.lang.ArrayIndexOutOfBoundsException: -1" while trying to get the SHAP Values getting details from "http://docs.h2o.ai/sparkling-water/2.4/latest-stable/doc/tutorials/shap_values.html"

My Sparkling Version is latest "3.28.0.3-1-2.4" and Spark Version is 2.4.4.
Code
` import ai.h2o.sparkling.ml.algos.H2OXGBoost
  val xgBoost = new H2OXGBoost()
    .setLabe

[2020-02-12 10:10] jakubhava commented on #1828
Thanks for the report @hemanshupaliwa7, I will try to reproduce

[2020-02-12 12:35] MrHadgehog commented on #1491
Hi @jakubhava, thank u for your help, unfortunatelly this solution cannot be tested because we have upgraded to scala 2.12, spark 2.4.4 and hadoop 3.1.1 and I suppose that we cannot use Sparkling Water with this setup anymore. However if u have any ideas how we can build Sparkling Water from the sources for our setup, please, ping me

[2020-02-12 21:19] jakubhava commented on #1491
Yes, we plan to publish artifacts for default Scala version used in the given Spark. I think next major will switch to Scala 2.12 by default.

 But You can try changing the https://github.com/h2oai/sparkling-water/blob/a95f3b8ff4b72d021e9b8c3309e44cd870e7107e/gradle.properties#L10 and here https://github.com/h2oai/sparkling-water/blob/a95f3b8ff4b72d021e9b8c3309e44cd870e7107e/build.gradle#L88 and t

[2020-02-13 01:20] jakubhava commented on #1491
One update, this will still not work as we need to re-organize some code around. You can check the JIRA here https://0xdata.atlassian.net/browse/SW-1846 for progress

[2020-02-13 21:10] michalkurka commented on #1828
[code]

This is suspicious and looks like a bug in the TreeSHAP code.

@hemanshupaliwa7 Are there any details you could share with us? Having the model (if it doesn't have any proprietary information) would be the best.

[2020-02-17 08:41] hemanshupaliwa7 commented on #1828
@michalkurka Sorry, I wouldn't be able to share the model. However, I could help you the steps that I followed in my program. If that helps?

[2020-02-17 09:02] hemanshupaliwa7 commented on #1828
@michalkurka
I have a mock-project on GitHub where I was working on Some random dataset from the the web. I get the same exact error here as well when I try to see SHAP info.

GitHub Project: https://github.com/hemanshupaliwa7/LoanPredictionIII
Model: https://github.com/hemanshupaliwa7/LoanPredictionIII/blob/master/MyOrgModel.tar.gz

Hope this helps you!

[2020-02-18 10:06] jakubhava commented on #1828
@hemanshupaliwa7 I have created JIRA to track progress of this issue https://0xdata.atlassian.net/browse/PUBDEV-7307

[2020-02-18 10:06] #1828 closed

[2020-02-18 14:26] michalkurka commented on #1828
@hemanshupaliwa7 thank you, this is very helpful - I will look into the issue

[2020-03-06 16:32] pdurham2 commented on #715
I am unsure if this error was ever resolved, but I found that repartitioning the Spark dataframe with df.repartition() before converting to an H2O dataframe allowed the conversion to occur successfully.

[2020-03-06 22:42] jakubhava commented on #715
@pdurham2 We need logs, Sparkling Water version, Rsparkling version to be able to reason about whether it's a new bug or if it has been fixed in a newer version.

Thanks!

[2020-03-12 14:38] joscani opened #1946 "Strange error in emr aws"
- Sparkling Water/PySparkling/RSparkling version: sparkling-water-3.28.0.4-1-2.3 / rsparkling: ‘3.28.0.4.1.2.3’
- Hadoop Version & Distribution: EMR ver 5.19
- Execution mode `YARN-client`
- spark-version: 2.3.2
- h2oversion:‘3.28.0.4’

When I try to connect with rsparkling

`library(tidyverse)
library(sparklyr)
library(DBI)
library(rsparkling)
library(h2o)

spark_path <- "/usr/lib/spark"
Sys.sete

[2020-03-12 15:40] pdurham2 commented on #715
@jakubhava, I originally was using h2o_pysparkling_2.4-2.4.2.zip but tested under sparkling-water-3.28.1.1-1-2.4 using Python 3.5 and Spark 2.4.3. I experienced the error with both versions of sparkling water, and repartitioning seemed to avoid the ArrayIndexOutOfBoundsException error. Regarding logs, I'm sorry but I don't think I am allowed to share them. Hopefully, the above info helps!

[2020-03-12 21:45] jakubhava commented on #715
Without logs It's hard to reason about the issue. Can you please share the minimal reproducible code example?

[2020-03-17 04:54] jayvdb opened #1953 "HTTPS docs website"
https://docs.h2o.ai/ (https) fails.

[2020-03-17 23:42] jakubhava commented on #1953
Thank you @jayvdb for the report. I have notified @angela0xdata who is responsible for the documentation.

[2020-03-17 23:42] #1953 closed

[2020-03-17 23:44] jakubhava commented on #1946
Thanks @joscani . I haven't seen this before, but seems like some kind of class mismatch.

The way how RSparkling is used has changed a little. Can you please check http://docs.h2o.ai/sparkling-water/2.4/latest-stable/doc/rsparkling.html and try the latest RSparkling according to this documentation and let me know if this happens there as well? Thanks!

[2020-03-18 17:31] potasz opened #1959 "Cannot convert Spark DF into H2OFrame due to missing extended API endpoint"
Hi,

I have updated to the latest SparklingWater version 3.28.1.1-1-2.4 and H2OContext#asH2OFrame() started to fail due to missing /3/InitializeFrame endpoint on the remote H2O cluster.

The application runs on Yarn with a remote H2O cluster. In version 3.26 I could get the extended H2O driver that included this endpoint. I can see that in 3.28 it was removed but I cannot see how should the code b

[2020-03-18 18:35] mn-mikke commented on #1959
Hi @potasz ,
to fix your problem you need to run H2O 3.28.1.1. The extended H2O driver jar was splitted into the jars. In manual mode, now you will need to specify a regular H2O driver jar and a jar with extensions. For more details, see [documentation](http://docs.h2o.ai/sparkling-water/2.4/latest-stable/doc/deployment/backends.html#manual-mode-of-external-backend-on-hadoop).

For more breaking c

[2020-03-18 20:18] potasz commented on #1959
Thank you @mn-mikke for the quick answer. I was sure I missed something obvious but couldn't spot this in the doc. Thank you for the pointer.  Hopefully this will work.

[2020-03-19 13:38] potasz commented on #1959
Hi. I have managed to make it work. The key was indeed to the add the SparklingWater extended jar to the `hadoop` command for the H2O cluster. It was just a bit confusing because earlier it was `h2o_driver_extended.jar` so it was clear it needs to be used for the H2O server. Now there are `sw-assembly` and `sw-assembly-extended` jars. The first is needed for the client and the second for the H2O b

[2020-03-20 02:35] jakubhava commented on #1959
The reason why we name the jar as `sw-extensions` is that it really just contains extensions to regular h2o driver jar. We do not ship extended jar anymore in case of Sparkling Water.

Thank you for the report!

[2020-03-20 02:35] #1959 closed

[2020-03-20 02:36] jakubhava commented on #1946
@joscani did you have time to try on the latest RSparkling with up-to-date code please?

[2020-03-21 06:21] manujchandra opened #1974 "java.lang.ClassNotFoundException: ai.h2o.sparkling.ml.models.H2OSupervisedMOJOModel"
Hi!,

I am running a local PySpark cluster.

Versions:
Spark : v2.4.5
PySparkling 2.4
Python 3.6.10 :: Anaconda

I did a small SMS spam ham classification model. I am trying to deploy the model as instructed [here](https://github.com/h2oai/h2o-tutorials/blob/master/training/sparkling_water_hands_on/sentiment_analysis/AmazonFineFoodPipeline.ipynb) is the "Let's Deply the Application" section

When

[2020-03-21 06:53] jakubhava commented on #1974
@manujchandra What PySparkling version are you please using? Would it be possible to share the pipeline model with us?

[2020-03-21 07:29] manujchandra commented on #1974
Hi @jakubhava ,

PySparkling was installed using the following command in conda:
`pip install h2o-pysparkling-2.4`

pip list shows:
`h2o-pysparkling-2.4                3.28.1.2.post1`

Please find the complete modeling and scoring pipeline attached:

[PYSPARKLING ERROR.zip](https://github.com/h2oai/sparkling-water/files/4362555/PYSPARKLING.ERROR.zip)

Regards.

[2020-03-21 07:39] jakubhava commented on #1974
Thank you, the pipeline seems to be fine -> Also I see that you are installing PySparkling actually from PiPy, not from Conda is that correct?

Did you modify the Spark Classpath or added any extra jars, for example sparkling water jar?

[2020-03-21 07:44] jakubhava commented on #1974
Ah, sorry. I see where is the problem.

Can you please run
[code]
At the beginning of the scoring code? We need to explicitly load SW assembly jar to spark env.

Please let me know whether this worked.

[2020-03-21 07:49] manujchandra commented on #1974
Hi @jakubhava ,

If I remember correctly, I tried using [conda](https://anaconda.org/h2oai/h2o_pysparkling_2.2) but it had an old version of pysparkling (2.2). Also when attempting to install it got stuck and was unable to resolve the environment. So I tried a fresh environment with pip as mentioned in the [docs](http://docs.h2o.ai/sparkling-water/2.4/latest-stable/doc/pysparkling.html)

On a side

[2020-03-21 08:02] manujchandra commented on #1974
Hi @jakubhava ,

I tried all 3 combinations:

`import pysparkling`

and

[code]

and

[code]

All 3 did not work. Notebook attached:

[Model Deployment.zip](https://github.com/h2oai/sparkling-water/files/4362568/Model.Deployment.zip)

[2020-03-22 07:25] manujchandra commented on #1974
Hi @jakubhava ,

I finally managed to execute `PipelineModel.load`. Here is the strange part:

First execute

[code]

Then run `PipelineModel.load` . It will throw the error.

Then again execute

[code]

Then run `PipelineModel.load` . It will work. So the imports need to be run two times.

But now there is another problem. The output from `sqlContext.sql("select * from predictions").show()` is em

[2020-03-22 07:44] jakubhava commented on #1974
Thank you for the info!, I will try to reproduce at the start of this week.

[2020-03-24 11:25] AarynBaelish opened #1987 "java.nio.channels.ClosedChannelException in Standalone Mode"
- Sparkling Water version
- Execution mode  standalone
- Are you using Windows/Linux/MAC? ubuntu

I had a SPARK cluster with one master and two workers, and had tested SparkPi successfully.

when trying to start  Sparkling Water as a Spark Package, like this:
```$SPARK_HOME/bin/spark-shell --packages ai.h2o:sparkling-water-package_2.11:3.28.1.2-1-2.4```

get a spark shell:
[code]
Then, I follow th

[2020-03-24 11:29] jakubhava commented on #1987
What is your Spark configuration? Are you using Spark Local/YARN or Standalone mode?

[2020-03-24 11:30] #1946 closed

[2020-03-24 11:31] AarynBaelish commented on #1987
Standalone mode

[2020-03-24 11:48] jakubhava commented on #1987
I have just tried:

[code]

"$SPARK_HOME"/sbin/start-slave.sh spark://Jakubs-MacBook-Pro.local:7077
[code]
$SPARK_HOME/bin/spark-shell --packages ai.h2o:sparkling-water-package_2.11:3.28.1.2-1-2.4
[code]
import org.apache.spark.h2o._
val h2oContext = H2OContext.getOrCreate()
import h2oContext._
[code]

[2020-03-24 13:59] AarynBaelish commented on #1987
I have tested this case( MASTER and N WORKERS in one physical machine ), and it does work as well.

The ERROR ABOVE happened when I tried to create `h2oContext` upon several physical machines.

 I put IPs of  physical machines into `$SPARK_HOME/conf/slaves`
and run```"$SPARK_HOME"/sbin/start-slave.sh```

when running `val h2oContext = H2OContext.getOrCreate()`,
TERMINAL shows the ERROR ABOVE.

I h

[2020-03-25 16:35] joscani commented on #1946
Thanks @jakubhava . These days are so crazy here in Spain. I'll check the doc this week.

[2020-03-25 23:01] jakubhava commented on #1987
Do you have some firewal setup on the nodes? H2O needs to have specific ports opened for the communication ( by default 54321 and 54322 on each node)

[2020-03-27 10:05] AarynBaelish commented on #1987
When I choose `Kluster Mode` use `Manual Mode of External Backend without Hadoop (standalone)` method based on `flatfile.txt` to create my multi physical machine cluster (port 54321 on each machine), everything is ok (not any `connect error` happened) . The firewall seems to be fine.

[2020-03-31 23:57] jakubhava commented on #1987
Oki, this verifies the communication between H2O nodes works as expected.

It first fails on
[code]

Which seems like Spark is failing to upload the jar to worker node.

Can you please Start regular standalone Spark with Sparkling Water jar dependency and not use Sparkling Water? I would like to verify that it is this case.

[2020-04-01 01:03] jakubhava commented on #1974
@manujchandra sorry for delay.

I was able to reproduce something similar,  can you please verify it is your case?

[code]
This fails, but:
[code]

Works. The important part is that the import `import pysparkling.ml` needs to be after spark/spark context initialization.

If that is your case, please put the import after `sc` creation. I will try to work on a fix in the meanwhile

[2020-04-01 03:03] jakubhava commented on #1974
I believe this should fix the issue you're having https://github.com/h2oai/sparkling-water/pull/2011

After this change, you just need to call `import pysparkling` at the top of your script

[2020-04-01 06:32] hemanshupaliwa7 commented on #1828
Hello @michalkurka  @jakubhava ,

Is it solved yet ??

[2020-04-01 16:56] michalkurka commented on #1828
@hemenkapadia I am not sure - I did make improvements of the Shapley calculation that should prevent the issue from happening but I didn't yet have the time to validate the improvements with your reproducer

[2020-04-03 02:08] jakubhava commented on #1974
Closing as we have a fix, it's going into the next fix release

[2020-04-03 02:08] #1974 closed

[2020-04-04 06:47] hemanshupaliwa7 commented on #1828
Hello @michalkurka ,

I tried with latest version of Sparkling Water "3.28.1.2-1-2.4" with Spark Version "2.4.5"

I can now see the SHAP Values. Seems like it's working for me now.

[2020-04-06 07:36] jakubhava commented on #1987
Any update @AarynBaelish ?

[2020-04-06 19:56] #1987 closed

[2020-04-07 14:56] hemanshupaliwa7 commented on #1828
Hello @michalkurka @jakubhava ,

As mentioned it's working seamlessly now with the given versions (Sparkling Water "3.28.1.2-1-2.4" with Spark Version "2.4.5"), however performance is really low now.

My goal is to extract probabilities for each classes from detailed_prediction attributes, I could do that but it takes around 2-3 hours for 100k records.

This is how I am doing it: https://github.co

[2020-04-07 15:03] michalkurka commented on #1828
@hemanshupaliwa7 thank you for the report, this is definitely not expected - let me see what I can do to improve the performance

[2020-04-07 15:57] hemanshupaliwa7 commented on #1828
@michalkurka Thanks, I will share more details if i get anything relevant and important to be shared with you

[2020-04-09 14:02] hemanshupaliwa7 commented on #1828
Hello @michalkurka

Related to this https://github.com/h2oai/sparkling-water/issues/1828#issuecomment-610436051.

I ran GLM, GBM, XGBoost, AutoML(DRF and StackedEnsemble) and DRF in sequence in one session, first four ran successfully and returned SHAP values really fast, however DRF was error out with this error

`[WARN] 2020-04-09 14:44:08,252 org.apache.spark.scheduler.TaskSetManager logWarning

[2020-04-14 04:31] hemanshupaliwa7 commented on #1828
I noticed one more this related to above issue. If I run all models in sequence, and DRF Model is running at the end, then it runs successfully but it takes lot of time to give SHAP Values. And if DRF is not at the end somewhere in the middle then it error out.

[2020-04-14 15:10] joscani opened #2037 "which xgboost hex.tree.xgboost._ vs ai.h2o.sparkling.ml.algos.H2OXGBoost"
Hi.
In my job I found that
ai.h2o.sparkling.ml.algos.H2OXGBoost is so slow and cluster crash but if I use h2o algortithm import hex.tree.xgboost._ works fine.
The last works with H2OFrames and the first with spark dataframes. Is some reason to use one or other? In my experience algorithm from hex.tree over H2OFrame (sparkdatafrme to h2oframe converts) is better than the other, at least in my case.

[2020-04-15 05:45] jakubhava commented on #2037
``ai.h2o.sparkling.ml.algos.H2OXGBoost`` is Sparkling Water API and proffered way how to use H2O algorithms in Sparkling Water. In future versions of H2O we are planning to stop supporting using H2O algos directly due to some architectural changes.

If you can please share the shape of your data, reproducible example and what slow means in term of numbers that would be great.

[2020-04-15 15:19] joscani commented on #2037
ok, Actually, using ai.h2o.sparkling.ml.algos.H2OXGBoost with my data, process not finish. and I have to kill the process.

[2020-04-16 08:04] joscani commented on #2037
Hi @jakubhava , I'm using sparkling-water last stable 3.30 in aws emr with spark 2.3
Using
[code]
and in sparkling shell
[code]
And I get errors like that
[code]
However If I sparkling-shell in the same way but using old way to  xgboost h2o model

[code]
works fine and smooth
[code]

Thanks in advanced, I try to show you a reproducible example in next days

[2020-04-16 11:48] joscani commented on #2037
Anyway, when it works I don't find how to download de mojo in a zip file.

[2020-04-16 14:04] joscani opened #2042 "How to export mojo in spark scala"
Hi @jakubhava  again.
I have mi model training in EMR cluster with
[code]
But I don't know how to export model to mojo . I'm trying
[code]

But I get `Caused by: java.io.IOException: Mkdirs failed to create file:` error. I'm a bit desperate, All things run correctly with old hex.tree.xgboost._  H2O algorithms, but I know you plan to deprecate this in sparkling-water, and maybe for good reasons.
I

[2020-04-17 02:14] DarthSimian opened #2044 "Error while initiating H2OConnect in Databricks"
I am getting the below error while trying to initiate PySparkiling in a Databricks cluster.
The cluster is a Spark 2.4.5, Scala 2.11 environment and is not a ML cluster
Also, I tried turning off Autoscaling and that didn't help either

[code]

---------------------------------------------------------------------------
Py4JJavaError                             Traceback (most recent call last)
<com

[2020-04-17 06:04] jakubhava commented on #2044
@DarthSimian Thanks for report. This is a known issue on the latest version and is already fixed on the master. The fix will be in the release 3.30.0.2 next week. In the meanwhile, please use 3.28.1.3

[2020-04-17 06:04] #2044 closed

[2020-04-17 06:08] jakubhava commented on #2042
Hi @joscani,
 `write.overwrite().save` are Spark methods and this simply means that Spark does not have permissions to save the files. Can you check the permissions?

[2020-04-17 06:17] jakubhava commented on #2037
Oki, thank you. Could you please get us also YARN logs? That would definitely help. We are keen to make this API stable.

[2020-04-17 06:47] joscani commented on #2042
Thanks @jakubhava , I'll talk with the sysadmin of our EMR, and try to write model in s3 directly.

[2020-04-17 06:51] joscani commented on #2037
Hi @jakubhava  Its hard to replicate, sometimes works sometimes not. I'll collect yarn logs next time. I'm a fan of your work, h2o had helped me to save a lot of time.

[2020-04-21 15:48] joscani commented on #2042
@jakubhava  I finally export mojo model using s3 like that.

[code]

Any way, how can I get gainlift table in the new api ?

[2020-04-22 09:36] #2042 closed

[2020-04-22 09:37] jakubhava commented on #2042
@joscani that is currently not exposed. Can you please create JIRA on our system https://0xdata.atlassian.net/secure/Dashboard.jspa?

[2020-04-22 13:56] joscani commented on #2037
Thanks @jakubhava  I'm learning the new ap. My goal is to use sparkling water in a production environment. Where can I find some tutorial about the new api? I need to get summary of model, gainslift table and etc, specify calibration dataframe but I don't find how to get this in new api

[2020-04-27 08:07] jakubhava commented on #2037
Hi @joscani, we are not getting rid of old api any time soon as we realize there are still a lot of things we need to expose. But eventually we will be using just the following API https://docs.h2o.ai/sparkling-water/2.4/latest-stable/doc/tutorials/sw_xgboost.html?highlight=h2oxgboost

Right now you can rain the models, run predictions, extract various information from the mojo model but we are st

[2020-04-30 17:17] joscani commented on #2037
Thanks @jakubhava

[2020-04-30 17:17] #2037 closed

[2020-04-30 17:23] joscani opened #2073 "Mojo predict probabilities in sparkling water"
Hi, again.
I'm trained my model and save it in s3, I'm using the latest stable sparkling water version. But when I want to load mojo I can only predict the prediction column, not the po, p1 columns. However, if I import the mojo model in h2oflow (with sparkling water) I can predict and get the probabilities.

[code]

But I don't find how to get p0 and p1 probabilities. My model is a xgboost model

[2020-05-01 05:29] jakubhava commented on #2073
Hi @joscani, good question!

We have changed the API to be again more Spark-friendly which might be confusing at first. Currently `prediction` column always returns the real prediction. In case of classification, the predicted label and in case regression the predicted number.

If you would like to obtain also probabilities or mode details coming from predictions, you need to pass `withDetailedPre

[2020-05-01 05:30] jakubhava commented on #2073
https://0xdata.atlassian.net/browse/SW-2194

[2020-05-02 17:33] joscani commented on #2073
Great. Thanks @jakubhava

[2020-05-02 17:33] #2073 closed

[2020-05-04 06:54] AnishDeepak opened #2074 "Cannot start h2O context on databricks cluster"
#this is the code i used 2 months ago, It worked. but now its getting error.
from pysparkling import *
from pyspark.sql import SparkSession
import h2o
spark = SparkSession.builder.appName("SparklingWaterApp").getOrCreate()
h2oConf = H2OConf(spark).set("spark.ui.enabled", "false")
hc = H2OContext.getOrCreate(conf=h2oConf)

#spark run time version 5.5LTS
#this is the error i am getting
![databricks_

[2020-05-04 06:56] jakubhava commented on #2074
Hi @AnishDeepak it seems like you are using our latest version which has regression bug on DBC. We are 1 or 2 days from a new release 3.30.0.2 which has this fixes plus brings additional benefits. Sorry for troubles.

[2020-05-04 07:00] AnishDeepak commented on #2074
So, will it be run if i use the same code after 2 days.

On Mon, May 4, 2020, 12:26 PM Jakub Háva <notifications@github.com> wrote:

[2020-05-04 07:03] jakubhava commented on #2074
Yes, I believe so

[2020-05-04 07:05] AnishDeepak commented on #2074
Ok, I will check after 3 days and let you know.
Thank you for your immediate  reply.

[2020-05-04 13:52] jakubhava commented on #2074
New release is out, please give it a try

[2020-05-04 15:42] AnishDeepak commented on #2074
Yeah its working, thank you soo much.

On Mon, May 4, 2020, 7:22 PM Jakub Háva <notifications@github.com> wrote:

[2020-05-04 16:00] jakubhava commented on #2074
Great!

[2020-05-04 16:00] #2074 closed

[2020-05-06 07:07] jakubhava commented on #2073
https://github.com/h2oai/sparkling-water/pull/2079/files documentation update will be in next release

[2020-05-08 10:07] joscani opened #2095 "Error connecting rsparkling with sparkling-water in aws"
Hi. I'm using sparkling-water 3.30.0.1 in aws fusing spark-scala , but I have problem with connecting with R.
R version in aws is 3.4.1. My code is

[code]
[code]
And before

[2020-05-09 05:28] jakubhava commented on #2095
@joscani Can you please use latest version 3.30.0.2 ? On that version we have shaded the AWS dependencies so they don't collide with the environment.

[2020-05-09 09:25] joscani commented on #2095
I'll try the latest version next week. Thanks @jakubhava